.#{$prefix}-application {
    position: relative;
    padding-top: 24px;

    &::before {
        content: attr(data-pb-application-label);
        position: absolute;
        top: 4px;
        left: 8px;
        color: $dark-60;
        background: white;
        font: 400 12px/16px $font-family-base;
        pointer-events: none;
    }

    > .#{$prefix}-editable { min-height: 48px; }
}

// Nested applications can only offer insertion controls while choosing a move target.
.#{$prefix}-wrapper:not(.#{$prefix}-is-moving-child) > * .#{$prefix}-application > .#{$prefix}-plus-button {
    display: none !important;
}

.#{$prefix}-wrapper.#{$prefix}-is-moving-child {
    &.#{$prefix}-is-moving-application .#{$prefix}-application-target {
        position: relative;
    }

    &.#{$prefix}-is-moving-application .#{$prefix}-application-target,
    &.#{$prefix}-is-moving-section > .#{$prefix}-application {
        > .#{$prefix}-highlighter {
            display: block;
            opacity: 1;
        }

        > .#{$prefix}-plus-button {
            display: block;
            opacity: 1;
            z-index: $plus-button-moving-index;
            border-radius: $plus-button-radius;
            background: linear-gradient(to bottom, $color-section, $color-section-g);

            &.#{$prefix}-prepend {
                top: $highlighter-size;
                bottom: auto;
                left: 50%;
                right: auto;
                margin: 0 0 0 $highlighter-size;
                span { background-image: $icon-move-up; }
            }

            &.#{$prefix}-append {
                top: auto;
                bottom: $highlighter-size;
                left: auto;
                right: 50%;
                margin: 0 $highlighter-size 0 0;
                background: linear-gradient(to top, $color-section, $color-section-g);
                span { background-image: $icon-move-down; }
            }
        }
    }
}

body.is-view-mode .#{$prefix}-application {
    padding-top: 0;
    &::before { display: none; }
    > .#{$prefix}-editable { min-height: 0; }
}
