.#{$prefix}-highlighter {
    opacity: 0; transition: all 0.3s ease-in-out;
    position: absolute;

    &::after {
        content: "";
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s ease-in-out;
    }

    &__top,
    &__bottom {
        height: $highlighter-size;
        left: 0;
        right: 0;

        &::after {
            left: 50%;
            right: 50%;
        }
    }

    &__top {
        top: 0;
        &::after {
            bottom: -3px;
            top: 0;
        }
    }

    &__bottom {
        bottom: 0;
        &::after {
            bottom: 0;
            top: -3px;
        }
    }

    &__left,
    &__right {
        width: $highlighter-size;
        top: 0;
        bottom: 0;

        &::after {
            bottom: 50%;
            top: 50%;
        }
    }

    &__left {
        left: 0;
        &::after {
            left: 0;
            right: -3px;
        }
    }

    &__right {
        right: 0;
        &::after {
            left: -3px;
            right: 0;
        }
    }

    .#{$prefix}-column > & {
        z-index: $highlighter-index + 2;
        background-color: $color-column;
        &::after {
            background-color: $color-column;
            //background-color: orange;
        }
    }

    .#{$prefix}-container > & {
        z-index: $highlighter-index + 1;
        background-color: $color-container;
        &::after {
            background-color: $color-container;
            //background-color: orange;
        }
    }

    .#{$prefix}-section > & {
        z-index: $highlighter-index;
        background-color: $color-section;
        &::after {
            background-color: $color-section;
            //background-color: orange;
        }
    }
}


.#{$prefix}-column.som-hover-append:hover > .#{$prefix}-highlighter__right,
.#{$prefix}-column.som-hover-prepend:hover > .#{$prefix}-highlighter__left {
    z-index: $highlighter-index + 50;
    &::after {
        visibility: visible;
        opacity: 1;
        top:0;
        bottom:0;
        //left:0;
        //right:0;
        animation: eye_catcher_vertical 1s ease-in-out infinite;
    }
}
.#{$prefix}-column.som-hover-append:hover > .#{$prefix}-highlighter__right {
    &::after {
        animation: eye_catcher_vertical_right 1s ease-in-out infinite;
    }
}

.#{$prefix}-container.som-hover-append:hover > .#{$prefix}-highlighter__bottom,
.#{$prefix}-container.som-hover-prepend:hover > .#{$prefix}-highlighter__top,
.#{$prefix}-section.som-hover-append:hover > .#{$prefix}-highlighter__bottom,
.#{$prefix}-section.som-hover-prepend:hover > .#{$prefix}-highlighter__top {
    z-index: $highlighter-index + 50;
    &::after {
        visibility: visible;
        opacity: 1;
        //top:0;
        //bottom:0;
        left:0;
        right:0;
        animation: eye_catcher_horizontal 1s ease-in-out infinite;
    }
}

.#{$prefix}-container.som-hover-append:hover > .#{$prefix}-highlighter__bottom,
.#{$prefix}-section.som-hover-append:hover > .#{$prefix}-highlighter__bottom {
    &::after {
        animation: eye_catcher_horizontal_bottom 1s ease-in-out infinite;
    }
}


/*==================================================================
/*====================|> HOVER ON GRID ELEMENT
/*=================================================================*/

.#{$prefix}-wrapper {
    &:not(.#{$prefix}-has-child-toolbar-active) .#{$prefix}-grid-element {
        &.#{$prefix}-has-toolbar-active > .#{$prefix}-highlighter,
        &.#{$prefix}-has-child-toolbar-active > .#{$prefix}-highlighter,
        &:hover > .#{$prefix}-highlighter {
            display: block;
            opacity: 1;
        }
    }

    &.#{$prefix}-has-child-toolbar-active .#{$prefix}-grid-element {
        &.#{$prefix}-has-toolbar-active > .#{$prefix}-highlighter,
        &.#{$prefix}-has-child-toolbar-active > .#{$prefix}-highlighter,
        &.#{$prefix}-container.#{$prefix}-is-resize-columns .#{$prefix}-column > .#{$prefix}-highlighter {
            display: block;
            opacity: 1;
        }
    }

    &.#{$prefix}-is-moving-child {
        .#{$prefix}-grid-element {
            &:hover > .#{$prefix}-highlighter {
                display: none;
            }
            &.#{$prefix}-is-moving::after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: black;
                opacity: 0.3;
            }
        }
        &.#{$prefix}-is-moving-column .#{$prefix}-section > .#{$prefix}-highlighter,
        &.#{$prefix}-is-moving-column .#{$prefix}-container > .#{$prefix}-highlighter,
        &.#{$prefix}-is-moving-column .#{$prefix}-column > .#{$prefix}-highlighter,
        &.#{$prefix}-is-moving-container .#{$prefix}-section > .#{$prefix}-highlighter,
        &.#{$prefix}-is-moving-container .#{$prefix}-container > .#{$prefix}-highlighter,
        &.#{$prefix}-is-moving-section .#{$prefix}-section > .#{$prefix}-highlighter {
            display: block;
            opacity: 1;
        }
    }

    &.#{$prefix}-is-modal-open .#{$prefix}-highlighter {
        display: none !important;
    }

    &.#{$prefix}-is-library-active .#{$prefix}-highlighter {
        display: none !important;
    }
}

@keyframes eye_catcher_horizontal {
    0% {
        height: 3px;
    }
    50% {
        height: 6px;
    }
    100% {
        height: 3px;
    }
}

@keyframes eye_catcher_horizontal_bottom {
    0% {
        height: 1px;
        top: -1px;
    }
    50% {
        height: 4px;
        top: -4px;
    }
    100% {
        height: 1px;
        top: -1px;
    }
}

@keyframes eye_catcher_vertical {
    0% {
        width: 3px;
    }
    50% {
        width: 6px;
    }
    100% {
        width: 3px;
    }
}
@keyframes eye_catcher_vertical_right {
    0% {
        width: 3px;
        left: -1px;
    }
    50% {
        width: 6px;
        left: -4px;
    }
    100% {
        width: 3px;
        left: -1px;
    }
}