.#{$prefix}-library {
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: $library-index;

	top: 2%;
	left: calc(-1 * (var(--#{$prefix}-image-width, 340px) + 58px));
	width: calc(var(--#{$prefix}-image-width, 340px) + 48px + $scrollbar-width);
	height: 96%;
	border-radius: 0px;
	border-right: 1px solid $dark-60;

    border-radius: $modal-radius;
    overflow: hidden;
    box-shadow: $modal-box-shadow;

    display: grid;
    grid-template-rows: auto 1fr auto;

    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

    font-family: "Asap", sans-serif;

    &__header {
        position: relative;
        overflow: hidden;
        padding: 0px;
        background-color: $modal-color;

        &__title {
            display: block;
            float: left;
            background-color: transparent;
            line-height: 44px;
            font-size: 14px;
            color: $nice-black;
            margin-left: $modal-padding;
            margin-right: $modal-padding;

            &:hover {
                cursor: move;
            }
        }

        .library-tab-menu {
                margin: 0;
                width: 100%;
                display: block;
                border-bottom: 1px solid $nice-gray-100;
                padding-left: 16px;

            .library-tab-link {
                position: relative;
                display: inline-block;
                padding: 0 10px;
                background-color: transparent;
                color: $dark-60;
                line-height: 44px;
                font-size: 13px;
                font-weight: 400;
                border-bottom: 2px solid transparent;

                &:first-child {
                    border-top-left-radius: 8px;
                }
                &:last-child {
                    border-top-right-radius: 8px;
                }

                &.active {
                    color: $primary;
                    border-bottom-color: $primary;
                }
                &:hover {
                    cursor: pointer;
                    color: $primary;
                }
            }

        }

    }

    &__content {
        padding:0;
        width: 100%;

        overflow-y: scroll;
        background-color: $modal-body-background;
        backdrop-filter: $modal-body-filter;

        .library-tab-content {
            border-radius: $modal-radius;
            overflow: hidden;
            overflow: hidden;
            clear: both;
            width: 100%;

            .library-tab-item {
                display: none;
                overflow: hidden;
                margin: 0 $modal-padding;

                &.#{$prefix}-library__favorites {
                    span.library-tab-item-button {
                        width: 90%;
                        position: relative;

                        aside.library-tab-item-delete-favorite {
                            display: none;
                            position: absolute;
                            right: -20px;
                            top: 5px;
                            width: 20px;
                            height: 20px;
                            background-image: url("/admin/webpages/page-builder/images/remove.png");
                            background-repeat: no-repeat;
                            background-position: right;
                            background-size: auto 14px;
                        }

                        &:hover aside.library-tab-item-delete-favorite {
                            display: block;
                        }
                    }
                }

                div.library-tab-item-button__toggler,
                span.library-tab-item-button {
                    display: block;
                    width: 100%;
                    margin: 0 0 6px 0;
                    padding: 0 10px;
                    color: $dark-60;
                    font-size: 13px;
                    line-height: 30px;
                    font-weight: 400;
                    text-align: center;
                    background-color: $nice-gray-100;
                    border-radius: $modal-radius;

                    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.active {
                        background-color: $nice-gray-300;
                        color: white;
                        padding-bottom: 2px;
                        .library-full-width-item__wrapper {
                            display: block;
                        }
                        &:hover {
                            background-color: $nice-gray-300;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        color: white;
                        background-color: $nice-gray-300;
                    }
                }

                .library-full-width-item__wrapper {
                    display: none;
                }


                .library-full-width-item {
                    position: relative;
                    display: block;
                    margin: 0 0 8px 0;
                    color: #ffffff;
                    font-size: 13px;
                    line-height: 40px;
                    font-weight: 400;
                    text-align: center;
                    border-radius: $modal-radius;

                    width: calc(var(--#{$prefix}-image-width, 340px) + 4px);
                    min-height: 40px;
                    background-color: white;
                    border: 2px solid $nice-gray-300;

                    transition: border-color 0.3s ease-in-out;

                    img {
                        max-width: 100%;
                        margin-bottom: $modal-radius;
                    }

                    &:hover {
                        cursor: pointer;
                        border-color: white;
                    }

                    i {
                        display: block;
                        font-size: 12px;
                        line-height: 20px;

                        color: $nice-black;
                        font-style: normal;
                        background-color: $nice-gray-100;
                        border-top-left-radius: $modal-radius;
                        border-top-right-radius: $modal-radius;
                    }

                    &.library-full-width-item--no-image {
                        img {
                            display: none;
                        }
                        i {
                            margin-bottom: $modal-radius;
                            padding-top: $modal-radius;
                        }
                        min-height: auto;
                        background-color: $nice-gray-100;
                    }
                }

                &.active {
                    display: block;
                }

                &.tag-filter-active {
                    //hide all group buttons
                    .library-tab-item-button__toggler {
                        display: none;
                    }
                    .library-tab-item-button__toggler.filtered-active {
                        display: block;
                    }
                    .library-tab-item-button__toggler.active {
                        .library-full-width-item__wrapper {
                            display: block;
                        }
                    }
                    .library-full-width-item {
                        display: none;
                    }
                    .library-full-width-item.active {
                        display: block;
                    }
                }

                .library-tags-block {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6px;
                    margin-bottom: 10px;

                    .library-tag-item {
                        display: none; // Hide the radio input
                    }

                    .library-tag-item-btn {
                        display: inline-block;
                        padding: 8px 12px;
                        margin: 0;
                        font-size: 13px;
                        line-height: 1;
                        border: 1px solid $nice-gray-300;
                        border-radius: $modal-radius;
                        background-color: transparent;
                        color: $secondary;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;

                        &:hover {
                            background-color: $nice-gray-100;
                        }
                    }

                    .library-tag-item:checked + .library-tag-item-btn {
                        background-color: $primary;
                        border-color: $primary;
                        color: white;

                        &:hover {
                            background-color: $primary-hover;
                            border-color: $primary-hover;
                            color: white;
                        }
                    }
                }

                .library-filter-block {
                    margin-bottom: 10px;
                    .library-filter-input {
                        width: 100%;
                        padding: 6px 12px;
                        font-size: 13px;
                        border: 1px solid $nice-gray-300;
                        border-radius: $modal-radius;

                        &:focus {
                            outline: none;
                            border-color: $primary;
                        }
                    }
                }

            }

            .library-template-block {
                overflow: hidden;
                display: none;

                &--section,
                &--container,
                &--column {
                    span.library-tab-item-button {
                        padding: 1%;
                        height: 36px;
                        span {
                            display: block;
                            float: left;
                            background-color: $color-column;
                            height: 100%;
                            border-radius: $toolbar-radius;
                            &.#{$prefix}-col-12 { width: 100%; }
                            &.#{$prefix}-col-11\.5 { width: 94%; margin-right: 2%; }
                            &.#{$prefix}-col-11 { width: 91.1%; margin-right: 2%; }
                            &.#{$prefix}-col-10\.5 { width: 86.5%; margin-right: 2%; }
                            &.#{$prefix}-col-10 { width: 82.6%; margin-right: 2%; }
                            &.#{$prefix}-col-9\.5 { width: 78.5%; margin-right: 2%; }
                            &.#{$prefix}-col-9 { width: 74.5%; margin-right: 2%; }
                            &.#{$prefix}-col-8\.5 { width: 69.5%; margin-right: 2%; }
                            &.#{$prefix}-col-8 { width: 66%; margin-right: 2%; }
                            &.#{$prefix}-col-7\.5 { width: 61%; margin-right: 2%; }
                            &.#{$prefix}-col-7 { width: 57.5%; margin-right: 2%; }
                            &.#{$prefix}-col-6\.5 { width: 52.5%; margin-right: 2%; }
                            &.#{$prefix}-col-6 { width: 49%; margin-right: 2%; }
                            &.#{$prefix}-col-5\.5 { width: 45%; margin-right: 2%; }
                            &.#{$prefix}-col-5 { width: 40.3%; margin-right: 2%; }
                            &.#{$prefix}-col-4\.5 { width: 36.5%; margin-right: 2%; }
                            &.#{$prefix}-col-4 { width: 32%; margin-right: 2%; }
                            &.#{$prefix}-col-3\.5 { width: 28%; margin-right: 2%; }
                            &.#{$prefix}-col-3 { width: 23.5%; margin-right: 2%; }
                            &.#{$prefix}-col-2\.5 { width: 19.5%; margin-right: 2%; }
                            &.#{$prefix}-col-2 { width: 15%; margin-right: 2%; }
                            &.#{$prefix}-col-1\.5 { width: 11%; margin-right: 2%; }
                            &.#{$prefix}-col-1 { width: 6.5%; margin-right: 2%; }
                            &.#{$prefix}-col-0\.5 { width: 3.3%; margin-right: 2%; }
                            &:last-child { margin-right: 0; }
                        }

                        &:hover {
                            background-color: $primary;
                        }
                    }
                }
            }

            .library-tab-item--basic {

                .library-template-block {
                    &--column {
                        span.library-tab-item-button {
                            float: left;
                            width: 49%;
                            &:nth-child(2n) {
                                margin-left: 2%;
                            }
                        }
                    }
                }
            }


        }

        span {
            font-weight: 500;
            font-size: 16px;
            display: block;
        }
    }

    &__footer {
        height: auto;
        padding: $modal-padding;
        overflow: hidden;
        clear: both;
        text-align: right;
        background-color: $modal-color;

        &__button {
            display: inline-block;
            width: auto;
            height: 30px;
            padding: 0 16px;
            font-size: 14px;
            opacity: 0.8;
            text-align: center;
            border-radius: $modal-radius;
            transition: all 0.3s ease-in-out;

            border: 1px solid $nice-gray-300;
            background-color: transparent;
            color: $nice-black;

            font-family: "Asap", sans-serif;

            &:hover {
                cursor: pointer;
                opacity: 1;
                background-color: $secondary;
                color: white;
            }
        }

    }

    .#{$prefix}-wrapper.#{$prefix}-is-library-active & {
        opacity: 1;
        visibility: visible;
        left: 14px;
    }

    &--column .library-template-block--column,
    &--row .library-template-block--column,
    &--container .library-template-block--container,
    &--section .library-template-block--section,
    &--content .library-template-block--content {
        display: block !important;
    }

    &.show-group {
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
        top: 20px !important;
        left: 20px !important;

        .#{$prefix}-library__header,
        .library-tab-menu,
        .library-tab-item-button {
            display: none !important;
        }
    }

    &--column.show-group .library-template-block--column,
    &--row.show-group .library-template-block--row,
    &--container.show-group .library-template-block--container,
    &--section.show-group .library-template-block--section,
    &--section.show-group .library-template-block--content {
        .library-full-width-item {
            display: block !important;
        }
    }

}

/* JEEFF zmeny pre library */
// .#{$prefix}-library {
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     height: 100%;
//   }
//   .#{$prefix}-library__content {
//     overflow: scroll;
//     height: 100%;
//   }
  .library-tab-item-group {
    color: white;
  }
