##{$prefix}-wjmagicline {
    border-top: 0px solid $color-magicline;
    outline-style: solid;
    outline-color: $color-magicline;
    outline-width: 1px;
    left: 8px !important;
    right: 8px !important;
    transition-property: outline-width;

    .wjmagiclineTriangle {
        display: none !important;
    }

    &:has(##{$prefix}-wjmagiclinePlus:hover) {
        animation: pulsateBorder 0.8s ease-in-out infinite;
    }
}

##{$prefix}-wjmagiclinePlus {
    width: $plus-button-size !important;
    height: $plus-button-size !important;
    border-radius: $plus-button-radius !important;
    border-width: 0px !important;
    background: linear-gradient(to bottom, $color-magicline-g, $color-magicline, $color-magicline-g) !important;
    top: -($plus-button-size / 2) !important;
    box-shadow: 4px 0 25px 2px rgba(50, 50, 50, 0.25);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: brightness(1.1);
    }

    .#{$prefix}-wjmagicline-plusicon {
        display: block;
        width: 100%;
        height: 100%;
        background-image: $icon-plus;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto $plus-button-icon-size;
        transition: background-color 0.3s ease-in-out;
        pointer-events: none;
    }
}

@keyframes pulsateBorder {
    0%, 100% {
        outline-width: 1px;
    }
    50% {
        outline-width: 4px;
    }
}