##{$prefix}-wjmagicline {
    border-top: 0px solid $color-magicline;
    outline-style: solid;
    outline-color: $color-magicline;
    outline-width: 1px;
    left: 8px !important;
    right: 8px !important;
    transition-property: outline-width;

    .wjmagiclineTriangle {
        display: none !important;
    }

    &:has(##{$prefix}-wjmagiclinePlus:hover) {
        animation: pulsateBorder 0.8s ease-in-out infinite;
    }
}

##{$prefix}-wjmagiclinePlus {
    width: $plus-button-size !important;
    height: $plus-button-size !important;
    border-radius: $plus-button-radius !important;
    border-width: 0px !important;
    background: linear-gradient(to bottom, $color-magicline-g, $color-magicline, $color-magicline-g) !important;
    top: -($plus-button-size / 2) !important;
    box-shadow: 4px 0 25px 2px rgba(50, 50, 50, 0.25);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: brightness(1.1);
    }

    .#{$prefix}-wjmagicline-plusicon {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODU1M0Q0RUZGNkQ5MTFFOEE2OENFN0FCRDlFNEIxMkUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ODU1M0Q0RjBGNkQ5MTFFOEE2OENFN0FCRDlFNEIxMkUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4NTUzRDRFREY2RDkxMUU4QTY4Q0U3QUJEOUU0QjEyRSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4NTUzRDRFRUY2RDkxMUU4QTY4Q0U3QUJEOUU0QjEyRSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PosleX0AAADXSURBVHja7NrfDYIwEMfxahyAUXACZQNG6kbtBuIEstHZS/oqrXqAwveXHPBwSfN54M8BTkSccTWpgrxOyD2m6x50Y5xHqrbQM6Y6Wy56NEb0FQiXe/pfhrQz9S4OWS1AgAABAgQIECBAgOwHcvpgKJrK5c1e/+V6OmlGPdBRt0n7m/Wgs2AU0ykkWI+dKyQqRDjZgQAB8leQuAFH3NQN0foR5VrZO6S6Wz2iWH9S8FIfb7k2Vy0gQIAAAQIECBAgQHYPGWfqLYbfnCbSFV5oxNxjmqcAAwB9sGqmjwunUgAAAABJRU5ErkJggg=="); /*/admin/webpages/page-builder/images/plus.png*/;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto $plus-button-icon-size;
        transition: background-color 0.3s ease-in-out;
        pointer-events: none;
    }
}

@keyframes pulsateBorder {
    0%, 100% {
        outline-width: 1px;
    }
    50% {
        outline-width: 4px;
    }
}