.#{$prefix}-notify {
    display: none;
    position: fixed;
    top: 100px;
    right: 10px;
    width: 240px;
    height: auto;
    z-index: $notify-index;
    border-radius: $modal-radius;
    border: 1px solid $modal-boder-color;
    overflow: hidden;

    box-shadow: $modal-box-shadow;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.3s ease-in-out;

    background-color: $modal-body-background;
    backdrop-filter: $modal-body-filter;

    &__header {
        padding: 15px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        color: #9ba1b1;
    }

    &__content {
        padding: 0 15px;
        padding-top: 6px;
        font-family: "Asap", sans-serif;
        overflow: hidden;
        color: $toolbar-content-color;

        span {
            font-size: 16px;
            color: $dark-60;
            display: block;
        }
    }

    &__footer {
        padding: 6px;
        overflow: hidden;
        text-align: right;

        &__button {
            display: inline-block;
            width: auto;
            height: 30px;
            padding: 0 16px;
            font-size: 14px;
            opacity: 0.8;
            text-align: center;
            border-radius: $modal-radius;
            transition: all 0.3s ease-in-out;

            border: 1px solid $nice-gray-300;
            background-color: transparent;
            color: $nice-black;

            font-family: "Asap", sans-serif;

            &:hover {
                cursor: pointer;
                opacity: 1;
                background-color: $secondary;
                color: white;
            }
        }

    }

    .#{$prefix}-wrapper.#{$prefix}-is-notify-active & {
        display: block;
    }

}