.#{$prefix}-toolbar {
    opacity: 0;
    position: absolute;
    bottom: 100%;
    width: $toolbar-size;
    height: $toolbar-size;
    z-index: $toolbar-index;
    > span {
        display: block;
        width: 100%;
        height: 100%;
        background-image: $icon-settings;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto $toolbar-icon-size;
        pointer-events: none;
    }
    border-top-left-radius: $toolbar-radius;
    border-top-right-radius: $toolbar-radius;
    transition: all 0.3s ease-in-out;

    box-shadow: 0 -2px 25px 2px rgba(50, 50, 50, 0.25);

    &:hover {
        cursor: pointer;
        opacity: 1;
    }

    &.#{$prefix}-is-toolbar-active {
        > span {
            background-image: $icon-close;
        }
    }

    &__content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 100%;
        width: auto;
        height: $toolbar-content-button-size;
        overflow: hidden;
        margin-bottom: $toolbar-content-gap;
        white-space: nowrap;
        word-break: keep-all;
        border-radius: $toolbar-content-radius;
        background: linear-gradient(to top, $sidebar-bg, $sidebar-bg-g);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        transform: scale(0.8);

        transition: all 0.3s ease-in-out;

        > .#{$prefix}-toolbar-button {
            display: inline-block;
            width: $toolbar-content-button-size;
            height: $toolbar-content-button-size;
            overflow: hidden;
            text-indent: -1000px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto $toolbar-content-button-image-size;
            transition: background-color 0.3s ease-in-out;
            color: white;

            &__style {
                background-image: $icon-style;
            }
            &__resize {
                background-image: $icon-resize;
            }
            &__move {
                background-image: $icon-move;
            }
            &__duplicate {
                background-image: $icon-duplicate;
            }
            &__add_to_favorites {
                background-image: $icon-add-to-favorites;
            }
            &__remove {
                background-image: $icon-remove;
            }

            &:first-child {
                border-top-left-radius: $toolbar-content-radius;
                border-bottom-left-radius: $toolbar-content-radius;
            }

            &:last-child {
                border-top-right-radius: $toolbar-content-radius;
                border-bottom-right-radius: $toolbar-content-radius;
            }

            &:hover {
                background-color:  $sidebar-active-bg;
            }
        }
    }
}

.#{$prefix}-column {
    > .#{$prefix}-toolbar {
        left: 50%;
        margin-left: -($toolbar-size/2);

        background: linear-gradient(to top, $color-column, $color-column-g);

        &.#{$prefix}-is-toolbar-active,
        &:hover {
            filter: brightness(1.1);
        }

        .#{$prefix}-toolbar__content {
            left: 50%;
            margin-left: -108px;
        }
    }
}

.#{$prefix}-container {
    > .#{$prefix}-toolbar {
        right: 0;
        background: linear-gradient(to top, $color-container, $color-container-g);

        &.#{$prefix}-is-toolbar-active,
        &:hover {
            filter: brightness(1.1);
        }

        .#{$prefix}-toolbar__content {
            right: 0;
        }
    }
}

.#{$prefix}-section {
    > .#{$prefix}-toolbar {
        left: 0;
        background: linear-gradient(to top, $color-section, $color-section-g);

        &.#{$prefix}-is-toolbar-active,
        &:hover {
            filter: brightness(1.1);
        }

        .#{$prefix}-toolbar__content {
            left: 0;
        }
    }
}

.#{$prefix}-wrapper {

    &:not(.#{$prefix}-has-child-toolbar-active) {
        .#{$prefix}-grid-element {
            &.#{$prefix}-has-toolbar-active > .#{$prefix}-toolbar,
            &:hover > .#{$prefix}-toolbar {
                display: block;
                opacity: 1;
            }
        }
    }

    &.#{$prefix}-has-child-toolbar-active {
        .#{$prefix}-toolbar {
            display: none;
        }
        .#{$prefix}-grid-element.#{$prefix}-has-toolbar-active {
            > .#{$prefix}-toolbar  {
                display: block;
                opacity: 1;
                .#{$prefix}-toolbar__content {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
        }

        .#{$prefix}-container.#{$prefix}-is-resize-columns .#{$prefix}-column .#{$prefix}-toolbar {
            display: none;
        }
    }

    &.#{$prefix}-is-moving-child {
        .#{$prefix}-grid-element {
            > .#{$prefix}-toolbar,
            &:hover > .#{$prefix}-toolbar {
                display: none;
            }
        }
    }

    &.#{$prefix}-is-modal-open {
        .#{$prefix}-grid-element {
            > .#{$prefix}-toolbar,
            &:hover > .#{$prefix}-toolbar {
                display: none !important;
            }
        }
    }

    &.#{$prefix}-is-library-active {
        .#{$prefix}-grid-element {
            > .#{$prefix}-toolbar,
            &:hover > .#{$prefix}-toolbar {
                display: none !important;
            }
        }
    }

}