@charset "UTF-8";

.ly-header {
    border: 0;
    padding: 8px 0 8px 0;
    margin: 0;

    height: 48px;

    position: fixed;
    top: 0;
    left: $sidebar-width;
    right: 0;
    bottom: auto;

    //border-bottom: 1px solid $nice-gray-100;

    z-index: 1000;

    text-align: right;

    background-color: white;

    .ly-container {
        height: 31px;
        > .header-link-group:first-child {
            margin-left: 0;
        }
    }

    .header-link-wrapper {
        display: inline-block;
        white-space: nowrap;
        .header-link-group:first-child {
            margin-left: 0;
        }
        .ti {
            vertical-align: text-bottom;
            font-size: 15px;
            padding-right: 3px;
        }
        .ti.notext {
            padding-right: 0;
        }
    }

    .header-link-group {
        float: left;
        display: block;
        margin-left: 50px;
        height: 31px;

        a.dropdown-item, button.btn {
            font-size: 14px;
            cursor: pointer;
        }

        button.btn:focus {
            outline: none !important;
        }
    }

    .btn-outline-secondary {
        color: $secondary !important;
        border-color: transparent !important;

        overflow: hidden;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $nice-gray !important;
            color: $secondary !important;
            border-color: transparent !important;
        }
    }

    .js-sidebar-toggler {
        display: none;
        padding-left: 7px;
        padding-bottom: 2px;
        i.ti {
            font-size: 20px;
        }
    }
    .js-help-toggler {
        max-width: 120px;
    }
    .js-profile-toggler {
        max-width: 200px;
        padding-right: 26px;
        background-position-x: calc(100% - 7px);
        span {
            max-width: 147px;
            overflow: hidden;
            display: inline-flex;
        }
    }
    .btn-outline-secondary.dropdown-toggle.show {
        background-color: $nice-gray;
    }
    div.dropdown ul.dropdown-menu li a {
        color: $secondary !important;
    }

    .header-title {
        color: black;
        font-size: 18px;
        padding-top: 2px;

        .nav-link {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .nav-link:first-child {
            padding-left: 0;
        }
    }
}

@media (max-width: ($bp-laptop - 1)) {
    .ly-header {
        position: absolute;
        left:0;
        top: -40px;
        height: 40px;
        padding-top: 5px;
        padding-bottom: 2px;
        transition: all ease-in-out 300ms;
        white-space: nowrap;

        .btn-outline-secondary:not(.js-profile-toggler) {
            width: 36px;
            //height: 31px;
            i {
                margin-right: 100px;
            }
        }
        .header-link-group {
            margin-left: 0px;
            &:last-child {
                margin-left: 0;
            }
        }

        .js-sidebar-toggler {
            display: inline-block;
            width: auto;
            position: absolute;
            top: 48px;
            left: 15px;
            transition: all ease-in-out 300ms;
            border-color: $nice-gray-300 !important;
            padding-left: 5px;
            width: 32px !important;
            height: 31px !important;

            &:hover {
                border-color: $nice-gray-300 !important;
            }

            i {
                position: relative;
                top: 1px;
            }
        }

        .ly-submenu .md-tabs {
            padding-left: 72px;
        }
        .header-title {
            padding-left: 55px;
        }

        .bootstrap-select {
            > .dropdown-toggle:after {
                background: none;
                border-color: transparent;
            }
        }
    }
    .ly-page-wrapper.active {
        .ly-header {
            margin-top: 40px;

            .js-sidebar-toggler {
                top: 5px;

                &.btn-outline-secondary {
                        background-color: #0090FC !important;
                }

            }
        }
    }
    body.ly-submenu-active {
        .ly-header {
            top: -95px;
            .js-sidebar-toggler {
                //verify in webpages
                top: 103px;
            }
        }
        .ly-page-wrapper.active {
            .ly-header {
                margin-top: 95px;
            }
        }
    }
}
@media (max-width: ($bp-laptop - 1)) {
    .ly-header {
        .container {
            padding-left: 7px;
            padding-right: 7px;
        }
        .header-link-group {
            margin-left: 0;
        }
        .js-profile-toggler {
            width: 35.5px;
            background-image: none;
            height: 31px;
            i {
                margin-right: 100px;
            }
        }
    }
}
@media (max-width: 360px) {
    .ly-header {
        .header-link-group {
            .js-tasks-toggler {
                display: none;
            }
        }
    }
}
