@charset "UTF-8";

.ly-header {
    border: 0;
    padding: 14px 0 15px 0;
    margin: 0;

    height: 60px;

    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    bottom: auto;

    border-bottom: 1px solid $nice-gray-100;

    z-index: 1000;

    text-align: right;

    background-color: white;

    .ly-container {
        height: 31px;
        > .header-link-group:first-child {
            margin-left: 0;
        }
    }

    .header-link-wrapper {
        display: inline-block;
        white-space: nowrap;
        .header-link-group:first-child {
            margin-left: 0;
        }
    }

    .header-link-group {
        float: left;
        display: block;
        margin-left: 70px;
        height: 31px;

        a.dropdown-item, button.btn {
            font-size: 14px;
            cursor: pointer;
            i.fa, i.fas, i.far {
                padding-right: 6px;
            }
        }

        button.btn:focus {
            outline: none !important;
        }
    }

    .btn-outline-secondary {
        color: $secondary !important;
        border-color: transparent !important;

        overflow: hidden;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $nice-gray !important;
            color: $secondary !important;
            border-color: transparent !important;
        }
    }

    .js-sidebar-toggler {
        display: none;
    }
    .js-help-toggler {
        max-width: 120px;
    }
    .js-profile-toggler {
        max-width: 200px;
        padding-right: 30px;
        span {
            max-width: 147px;
            overflow: hidden;
            display: inline-flex;
        }
    }
    .js-domain-toggler {
        max-width: 258px;
        //margin-top: -8px;
        padding: 0px 0px 4px 8px;
        border-radius: 6px;
        i {
            position: relative;
            top: 3px;
            margin-right: 6px;
        }
        button.btn-outline-secondary {
            background-color: transparent !important;
            padding-top: 0;
            padding-bottom: 0;
        }
        div.filter-option-inner-inner {
            text-overflow: ellipsis;
        }
        &:hover {
            background-color: $nice-gray;
        }
    }

    .btn-outline-secondary.dropdown-toggle.show {
        background-color: $nice-gray;
    }
    div.dropdown ul.dropdown-menu li a {
        color: $secondary !important;
    }
}

@media (max-width: ($bp-laptop - 1)) {
    .ly-header {
        left:0;
        height: 40px;
        padding-top: 5px;
        padding-bottom: 2px;
        .js-sidebar-toggler {
            display: inline-block;
            //margin-top: -9px;

            i {
                position: relative;
                top: 1px;
            }
        }
        .header-link-group {
            margin-left: 50px;
        }
    }
}

@media (max-width: ($bp-laptop - 1)) {
    .ly-header {
        .btn-outline-secondary:not(.js-profile-toggler):not(.js-domain-toggler) {
            width: 36px;
            //height: 31px;
            i {
                margin-right: 100px;
            }
        }

        .js-domain-toggler {
            width: auto;
            max-width: 215px;
            margin-top: -1px;
            margin-left: 44px;
            position: relative;

            i {
                margin-right: 0;
            }

            .btn-outline-secondary {
                width: 185px !important;
                padding-left: 0;
            }

            .bootstrap-select {
                width: 190px !important;
            }
            div.filter-option {
                height: auto;
            }
        }
        .header-link-group {
            &:last-child {
                margin-left: 0;
            }
        }

        .header-link-group {
            margin-left: 0px;
        }
    }
}

@media (max-width: ($bp-laptop - 1)) {
    .ly-header {
        position: absolute;
        top: -40px;
        transition: all ease-in-out 300ms;
        white-space: nowrap;

        .js-sidebar-toggler {
            width: auto;
            position: absolute;
            top: 44px;
            left: 4px;
            transition: all ease-in-out 300ms;
            //margin-top: -7px;

            i {
                top: 1px;
            }
        }

        .bootstrap-select {
            > .dropdown-toggle:after {
                background: none;
                border-color: transparent;
            }
        }
    }
    .ly-page-wrapper.active {
        .ly-header {
            margin-top: 40px;

            .js-sidebar-toggler {
                top: 4px;

                &.btn-outline-secondary {
                        background-color: #0090FC !important;
                }

            }
        }
    }
}
@media (max-width: ($bp-laptop - 1)) {
    .ly-header {
        .container {
            padding-left: 7px;
            padding-right: 7px;
        }
        .header-link-group {
            margin-left: 0;
        }
        .js-profile-toggler {
            width: 35.5px;
            background-image: none;
            height: 31px;
            i {
                margin-right: 100px;
            }
        }
    }
}
@media (max-width: 360px) {
    .ly-header {
        .header-link-group {
            .js-tasks-toggler {
                display: none;
            }
        }
    }
}
