@charset "UTF-8";

.ly-content {
    // padding-top: 15px;
    height: calc(100vh - 48px);
    overflow: hidden;
}

@media (max-width: ($bp-laptop - 1)) {
    .ly-content {
        height: 100vh;
    }
}

@media (max-width: ($bp-mobile - 1)) {
    .ly-content {
        height: 100%;
    }
}

html.in-iframe, html.in-iframe-show-table {
    .ly-content {
        height: 100vh;
    }
}

.screenshotHighlight {
    outline: 1px solid #FF4B58;
    box-shadow: 0 0 12px #FF4B58;
}