.baretest1 {
    color: blue;
}

.baretest2 {
background-color: yellow;
}

span.baretest3 {
background-color: pink;
}

a.btn.btn-primary {
/*bootstrap default*/
}
a.btn.btn-secondary {
/*bootstrap default*/
}

table.table.table.table-dark {
/*bootstrap default*/
}
table.table.table.table-striped {
/*bootstrap default*/
}
table.table.table-bordered {
/*bootstrap default*/
}

section.test-section {
    background-color: orange;
}
div.container.test-container {
    background-color: blue;
}