@charset "UTF-8";

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-name: page-fade-out;
}
::view-transition-new(root) {
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-name: page-fade-in;
}

@keyframes page-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes page-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-color: white;
	height: 100%;
	max-width: 100%;

	font-size: 16px;
	font-family: $base-font-family;
	color: $secondary;
}

.randomText {
	width: 100%;
	font-size: 70px;
	line-height: 90px;
	color:#2B2E43;
	text-align: center;
	margin-top: 300px;
	font-weight: 600;
}

.hidden {
	display: none;
}

.color-danger {
	color: $danger;
}
.color-warning {
	color: $warning;
}
