@charset "UTF-8";

html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-color: white;
	height: 100%;
	max-width: 100%;

	font-size: 16px;
	font-family: $base-font-family;
	color: $secondary;
}

.randomText {
	width: 100%;
	font-size: 70px;
	line-height: 90px;
	color:#2B2E43;
	text-align: center;
	margin-top: 300px;
	font-weight: 600;
}

.hidden {
	display: none;
}