
/** quill HTML EDIT BUTTON - https://github.com/benwinding/quill-html-edit-button/blob/v1.1.2/src/styles.css */
.ql-html-overlayContainer {
  background: #0000007d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.ql-html-popupContainer {
  background: #f3f3f6;
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border-radius: 10px;
}

.ql-html-textContainer {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
}

.ql-html-textArea {
  position: absolute;
  left: 15px;
  width: calc(100% - 45px);
  height: calc(100% - 116px);
}

.ql-html-buttonCancel {
  margin-right: 20px;
}

.ql-html-popupTitle {
  margin: 0;
  display: block;
}

.ql-html-buttonGroup {
  position: absolute;
  bottom: 20px;
  transform: scale(1.5);
  left: calc(50% - 60px);
}

/** quill EDITOR CUSTOMIZATION */
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 12px;
}
.ql-toolbar.ql-snow {
  border: 1px solid $nice-gray-300;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  button {
    line-height: 11px;
  }
  span.ql-formats:last-child button {
    padding-top: 0px;
  }
  span.ql-formats button i.fa {
    font-size: 15px;
  }
}

.ql-formats .form-control {
  display: none!important;
}

.ql-snow .ql-color-picker .ql-picker-label,
.ql-snow .ql-icon-picker .ql-picker-label {
  padding-top: 0px;
}

.ql-html-overlayContainer {
  .ql-html-popupTitle {
    font-style: normal;
    font-family: "Asap", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
  }
  .ql-html-textContainer {
    padding-top: 2px;
    padding-bottom: 0px;
  }
  .ql-html-textArea {
    height: calc(100% - 75px) !important;
    width: 100%;
  }
  .ql-html-buttonGroup {
    transform: none;
    bottom: -25px;
    left: auto;
    right: -15px;
    button {
      border-radius: 6px;
      border: 1px solid $nice-gray-300;
      padding: 6px 12px;

      &.ql-html-buttonOk {
        background-color: $primary;
        color: $white;
      }

      i {
        width: 26px;
      }
    }
  }
}