.jqGSContainer{position:relative;background:#fff;padding:0px;width:494px;}

.jqGSContainer .jqGSImgContainer{}
.jqGSContainer .jqGSImgContainer ul{padding:0;margin:0;position:relative;list-style:none;}
.jqGSContainer .jqGSImgContainer ul li{padding:0;margin:0;position:relative;margin-top:0;margin-bottom:0px;}
.jqGSContainer .jqGSImgContainer ul li .jqGSLoader{background:url(/components/gallery/ajax/ajax-loader.gif) no-repeat center center;width:100%;height:100%;position:absolute;}
.jqGSContainer .jqGSImgContainer ul li img{position:absolute;top:50%;left:50%;border:0px}
.jqGSContainer .jqGSImgContainer ul li .jqGSTitle{background:#ccc;position:absolute;left:0px;top:0px; padding:3px;color:#000;}


.jqGSContainer .jqGSPagination{padding:0px;padding-top:5px;}
.jqGSContainer .jqGSPagination ul{padding:0;margin:0;list-style:none;}
.jqGSContainer .jqGSPagination ul li{padding:0;margin:0;float:left;padding-right:1px;text-align:center;padding-bottom:1px;}
.jqGSContainer .jqGSPagination ul li a{padding:2px 0px;background:#eee;text-decoration:none;display:block;width:20px;font:10px Verdana, Arial, Helvetica, sans-serif;}
.jqGSContainer .jqGSPagination ul li a:hover{background:#000;color:#fff;}
.jqGSContainer .jqGSPagination ul li a:active{background:#000;color:#fff;}

.jqGSImgContainer{border:1px solid #ccc;}