.DTE_Field_Type_color {
    .input-group {
        span.color-preview {
            width: 2.5rem;
            display: inline-block;
            background-color: transparent;
            cursor: pointer;
        }
    }
}