webjet-dte-jstree {
    display: block;

    .group-id {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .custom-modal {
        position: fixed;
        z-index: 99999999;
        inset: 0;
        width: 100%;
        height: 100%;
        border: 0;
        overflow-y: auto;
        background: rgba(0, 0, 0, .7);

        .custom-modal-wrapper {
            position: relative;
            display: block;
            max-width: 1000px;
            min-height: 400px;
            margin: 5% auto;
            padding: 15px;
            border: 1px solid $nice-black;
            border-radius: 6px;
            background: $white;
        }

        .close-custom-modal {
            position: absolute;
            z-index: 1;
            top: 8px;
            right: 8px;
            padding: 5px 6px;
        }

        .jstree {
            padding-bottom: 15px;
            background: $white;
        }
    }
}

webjet-image-area-selector {
    display: block;

    .loading {
        display: flex;
        height: 100%;
        min-height: 450px;
        align-items: center;
        justify-content: center;
    }

    .coordinates {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
        background: $nice-gray;
    }

    .coordinate-label {
        margin: 0;
        line-height: 35px;
    }

    .coordinate-input {
        width: 100px;
        margin: 0 5px;
    }

    .cropper-wrapper {
        margin-top: 58px;
        width: max-content;
        min-width: 100%;
    }
}

#bookmark_modal,
#feedback_modal {
    .modal-content {
        overflow: hidden;
    }

    .modal-body {
        padding: 0;
    }
}

#feedback-upload.dz-started .dz-message {
    display: block !important;
}

#webjet-overview-dashboard {
    .server-monitoring-section {
        height: auto;
    }

    .pl-0-lg {
        @media screen and (min-width: 992px) {
            padding-left: 0 !important;
        }
    }

    .overview__dashboard,
    .overview-logged,
    .overview__news {
        margin: 15px 0;
        padding: 20px;
        border-radius: 10px;
    }

    .overview__dashboard {
        background: #edeff6;

        &__title {
            padding-bottom: 25px;

            h2,
            p {
                margin-bottom: 20px;
            }

            @media screen and (max-width: 575px) {
                padding: 25px 10px 20px;
                background: transparent;

                p {
                    max-width: 100%;
                    text-align: justify;
                }
            }
        }

        &__item {
            &__title {
                color: #585d6c;
                font-size: 13px;
                font-weight: bold;

                @media screen and (max-width: 767px) {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
            }

            &.navstevy .overview__dashboard__item__info:hover {
                background: #b3caf7;
            }

            &.formulare .overview__dashboard__item__info {
                color: #54052b;

                &:hover {
                    background: #eaaac9;
                }
            }

            &.foto .overview__dashboard__item__info {
                color: #480250;

                &:hover {
                    background: #e3dbff;
                }
            }

            &.dokumenty .overview__dashboard__item__info {
                color: #0c3629;

                &:hover {
                    background: #c1e8dc;
                }
            }
        }

        &__item__info {
            position: relative;
            display: block;
            padding: 25px 20px;
            border: 2px solid #e6e8ef;
            border-radius: 10px;
            color: #072764;
            transition: all .3s ease;

            &:hover { border-color: transparent; box-shadow: 0 11px 13px #c3c2c2; }
            &__number { position: absolute; top: 50%; right: 15px; font-size: 20px; font-weight: bold; transform: translateY(-50%); }
        }
    }

    .overview__websites {
        .tab-content { margin-top: 10px; }
        .nav-tabs { margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #dee2e6; }
        .nav-link {
            border: 0;
            color: #636a7d;
            font-size: 14px;
            font-weight: bold;
            transition: all .3s ease;

            &.active { color: #202123; }
            &:hover { color: $primary; }
        }
        &-list ul { margin: 0; padding: 0; list-style: none; }
        &-list li { margin-bottom: 10px; }
        &-list a {
            position: relative;
            display: block;
            padding: 6px 120px 6px 50px;
            border-radius: 10px;
            background: $nice-gray;
            color: #2d2e30;
            font-size: 15px;
            transition: all .3s ease;

            > i { position: absolute; top: 50%; left: 18px; transform: translateY(-50%); }
            .title, .type { font-weight: bold; }
            .type { margin-right: 6px; }
            .date { position: absolute; top: 50%; right: 20px; font-size: 12px; font-weight: bold; transform: translateY(-50%); }
            &:hover {
                background: $primary;
                box-shadow: 0 4px 11px -5px #000;
                color: $white;
                text-decoration: none;
                text-transform: none;
                transform: translateX(10px);
            }
        }
    }

    .overview-logged {
        position: relative;
        background: #edeff6;
        color: #48494d;

        &__head { position: relative; height: 45px; padding: 0 40px 0 60px; }
        &__head__icon { position: absolute; left: 0; display: inline-flex; width: 45px; height: 45px; align-items: center; justify-content: center; border-radius: 10px; background: #00a186; font-size: 20px; }
        &__head__more {
            position: absolute;
            top: 5px;
            right: 0;

            button { cursor: pointer; }
            i { font-size: 22px; }
        }
        &__head > span { position: absolute; top: 50%; font-size: 13px; font-weight: bold; transform: translateY(-50%); }
        &__content { margin: 15px 0; }
        &__content ul { margin: 0; padding: 0; list-style: none; }
        &__content li { position: relative; min-height: 40px; padding: 10px 0 0 40px; font-size: 14px; }
        &__content li a {
            color: #48494d;
            transition: all .3s ease;

            &:hover { color: #202123; }
        }
        &__content li.show-more button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            display: flex;
            width: 40px;
            height: 40px;
            margin: auto;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #00a186;
            cursor: pointer;
        }
        &__content li img, &__content li .no-photo { position: absolute; top: 5px; left: 0; width: 30px; height: 30px; border-radius: 50%; }
        &__sessions { margin-bottom: 10px; }
        &__sessions li, &.bookmark li { min-height: auto; padding: 2px 0; }
        &__sessions .active-session-entry { display: inline-block; max-width: 90%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
        &__sessions .btn { padding: 0; }
        &__admins { margin-top: 0; margin-bottom: 0; }
        .subheading { min-height: auto; padding: 0 0 4px; font-weight: bold; }
        &.bookmark .overview-logged__head__icon { background: #ffc966; }
        &.bookmark .overview-logged__content button { padding: 0; }
        &.feedback .overview-logged__head__icon { background: #dc66e9; }
    }

    .overview__news {
        background: #dddfe6;
        color: #232426;
        &__head { position: relative; height: 45px; padding-left: 60px; }
        &__head__icon { position: absolute; left: 0; display: flex; width: 45px; height: 45px; align-items: center; justify-content: center; border-radius: 10px; background: #4d5262; color: $white; font-size: 20px; }
        &__head > span { position: absolute; top: 50%; font-size: 13px; font-weight: bold; transform: translateY(-50%); }
        &__content ul { margin: 20px -20px 0; padding: 0; list-style: none; }
        &__content__link { display: block; padding: 10px 20px; background: transparent; color: #262729; font-size: 14px; transition: all .3s ease; }
        &__content__link:hover { background: $nice-gray; color: #262729; text-decoration: none; text-transform: none; }
        &__content__link .title { display: block; margin-bottom: 5px; font-weight: bold; }
        &__content__link .perex { color: #48494d; }
    }
}

@media (max-width: 1000px) {
    webjet-dte-jstree .custom-modal .custom-modal-wrapper { max-width: 90%; }
}
