.cke_dialog_contents {
    .cke_dialog_footer {
        padding: 8px 12px;
        .cke_dialog_ui_hbox.cke_dialog_footer_buttons {
            margin: 0px;
        }
    }
    .cke_dialog_ui_button, a.cke_dialog_ui_button, .cke_dialog_footer_buttons a.cke_dialog_ui_button {
        font-family: "Asap",sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px 12px !important;
        background-color: white;
        border: 1px solid #868EA5;
        border-radius: 6px !important;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: auto;
        height: auto;
        line-height: normal;
        min-width: 56px;
        box-shadow: none;
        background-image: none;
        span {
            color: #13151B;
            font-size: 16px;
            padding: 0px !important;
            background-color: transparent;
            line-height: 1.5;
            text-shadow: none;
            border: 0px;
        }
        &:hover {
            background-color: #13151b;
            background-image: none;
            span {
                color: white;
            }
        }
    }
    a.cke_dialog_ui_button {
        padding: 4px 4px !important;
        span {
            line-height: normal;
        }
    }
    a.cke_dialog_ui_button_ok, .cke_dialog_footer_buttons a.cke_dialog_ui_button_ok {
        background-color: $primary;
        border: 1px solid $primary;
        span {
            color: white;
        }
        &:hover {
            background-color: $primary-hover;
        }
    }
}
table.cke_dialog {
    div.cke_dialog_title {
        background-image: none !important;
        background-color: #F3F3F6;
        color: #13151B;
        border-bottom: 0px solid #dee2e6;
        font-family: "Asap", sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
    }
    .cke_dialog_body {
        background-color: #F3F3F6;

        .cke_dialog_contents {
            background-color: white;
        }

        .cke_dialog_close_button {
            background: none !important;
            border: 1px solid #868EA5;
            border-radius: 6px;
            padding: 5px 5px 3px 5px;
            right: 16px;
            top: 8px;

            .cke_label {
                display: contents;
                font-size: 0px;

                &::before {
                    font-family: 'tabler-icons-filled';
                    color: #13151B;
                    content: $ti-icon-x;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }

        /**
         * Maximized state - disables drag/drop on title bar and hides resize handle
         * Applied via JavaScript when maximize button is clicked
         */
        &.cke_dialog_maximized {
            .cke_dialog_title {
                cursor: default !important;
                pointer-events: none;
            }

            .cke_resizer {
                display: none !important;
            }
        }

        /**
         * Maximize/Minimize buttons - positioned before close button
         * Uses tabler icons font for icons, shares common styling
         */
        .cke_dialog_maximize_button,
        .cke_dialog_minimize_button {
            background: none !important;
            border: 1px solid #868EA5;
            border-radius: 6px;
            padding: 5px 5px 3px 5px;
            position: absolute;
            right: 52px;
            top: 8px;
            z-index: 5;
            cursor: pointer;

            .cke_label {
                display: contents;
                font-size: 0px; //hide text, icon shown via ::before

                &::before {
                    font-family: 'tabler-icons-filled';
                    color: #13151B;
                    font-size: 18px;
                    cursor: pointer;
                }
            }

            &:hover {
                border-color: #0063FB;

                .cke_label::before {
                    color: #0063FB;
                }
            }
        }

        //icon for maximize button (arrows pointing outward)
        .cke_dialog_maximize_button .cke_label::before {
            content: $ti-icon-arrows-maximize;
        }

        //icon for minimize button (arrows pointing inward)
        .cke_dialog_minimize_button .cke_label::before {
            content: $ti-icon-arrows-minimize;
        }
    }
    div.cke_dialog_tabs {
        background-color: #F3F3F6;
        margin-top: 0px;
        height: auto;
        min-height: 31px;
        margin-left: 5px;
        margin-top: -6px;
    }
    div.cke_dialog_tabs a {
        font-family: "Asap", sans-serif;
        color: #646979;
        padding: 6px 0px 12px 0px;
        margin-right: 16px;
        font-size: 15px;
        border-bottom: 2px solid transparent;

        &.cke_dialog_tab_selected {
            margin-top: 0px;
            border-top-color: #F3F3F6;
            color: #0063FB;
            border-bottom-color: #0063FB;
        }
        &:hover {
            color: #0063FB;
        }
    }
    table.cke_dialog_contents {
        margin-top: 31px;
    }
}
table.cke_dialog.cke_single_page table.cke_dialog_contents {
    margin-top: 0px;

    .cke_dialog_ui_vbox.cke_dialog_page_contents {
        min-height: auto !important;
    }
}

.cke_dialog_contents_body {
    background-color: #fff !important;
    border-top: 1px solid #DDDFE6 !important;

    .cke_dialog_ui_vbox.cke_dialog_page_contents {
        min-height: auto !important;
        margin-top: 0px;
    }
}

div.cke_dialog_ui_text { width: 100% !important; }

td.cke_dialog_ui_vbox_child {
    div.cke_dialog_ui_input_text {
        width: 100% !important;

        input.cke_dialog_ui_input_text {
            display: block;
            width: 100%;
            padding: 2px 6px;
            font-family: "Asap", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #23262E;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #868EA5;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 6px;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    }

    .cke_dialog_ui_input_select button.bootstrap-select {
        padding: 2px 6px;
    }

    input.cke_dialog_ui_input_text.ui-autocomplete-input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #23262E;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #868EA5;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 6px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    label.cke_dialog_ui_labeled_label {
        font-size: 14px;
        line-height: 1.7;
        position: relative;
        text-align: right;
    }

    .cke_dialog_ui_select {
        width: 100% !important;

        .cke_dialog_ui_labeled_content {
            display: block;
            width: 100% !important;

            .cke_dialog_ui_input_select {
                width: 100% !important;
                float: none;
                display: inline-block;
                margin-left: 0;
                vertical-align: middle;
                position: relative;

                .cke_dialog_ui_input_select {
                    height: auto;
                    padding: 4px 6px; //On select element line-height does not work, so we alter padding to make select filed height same as text field
                    padding-top: 4px;
                    position: relative;
                    width: 100% !important;
                    text-align: right;
                    white-space: nowrap;
                    display: inline-flex;
                    border-color: #868EA5;
                    font-family: "Asap", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #23262E;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #868EA5;
                    border-radius: 6px;
                }
            }
        }
    }

}

table.urlFormTable {
    tr:first-child {
        td {
            padding-bottom: 4px;
        }
    }
    label {
        margin-right: 6px;
        white-space: nowrap;
    }
    label.secondLabel {
        margin-left: 6px;
    }
}

.DTE_nested_modal_open {
    .cke_dialog_footer, .cke_dialog_title, .cke_dialog_close_button {
        pointer-events: none;
        opacity: 0.2;
    }
}

div.cke_dialog_ui_labeled_content_append {
    border: 1px solid #868EA5;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 28px;
    width: 28px;
    border-left-width: 0px;
    .cke_dialog_ui_input_text {
        i.ti {
            display: block;
            font-size: 18px;
            padding-top: 5px;
            padding-left: 5px;
            cursor: pointer;
        }
    }
    &:hover {
        background-color: #13151B;
        .cke_dialog_ui_input_text {
            i.ti {
                color: white;
            }
        }
    }
}
div.wj-picture-url-input {
    .cke_dialog_ui_input_text {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        background-color: #f3f3f6 !important;
    }
}
