div.stat-chart-wrapper {

    padding: 15p;

    button.chart-more-btn {
        white-space: nowrap;
        padding-top: 6px;
        padding-bottom: 2px;

        float: right;
        position: relative;
        top: 28px;
        right: 15px;
        z-index: 999;

        background-color: white;
        color: black;
    }

    button.chart-more-btn:hover {
        background-color: #0063FB;
        color: white;
        border-color: #b3b8c7;
        border-width: 1px;
    }
}