@charset "UTF-8";

.md-gallery-list {
    padding:15px 0;
    padding-right: 30px;
    margin-right: -15px;
    height: calc(100vh - 183px);
    overflow: auto;

    .row > div {
        padding-right: 0;
    }
    &__item {
        font-size: 13px;
        line-height: 24px;
        color: #272727;
        margin-bottom: 15px;
        &__image {
            width: 100%;
            padding-top: 75%;
            background-color: #edeff5;
            border-radius: $border-radius;
            background-size: cover;
            background-position: center;
            position: relative;
            &::before {
                font-family: $fa-font-name;
                font-weight: 300;
                font-size: 18px;
                content: "\f0c8";
                margin-right: 4px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                opacity: 0;
                visibility: hidden;
                color: white;
                z-index: 3;
                transition: opacity 0.3s ease-in-out;
            }
            &::after {
                content:"";
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                visibility: hidden;
                background-color: rgba($primary,0.6);
                border-radius: $border-radius;
                z-index: 2;
                transition: opacity 0.3s ease-in-out;
            }
            &.active {
                color: $primary;
                &::before {
                    content: "\f14a";
                    font-weight: 600;
                }
            }
            &.active,
            &:hover {
                cursor: pointer;
                &::after,
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &__text {
            padding: 8px $border-radius 0 $border-radius;
            font-size: 12px;
            line-height: 12px;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            color: #656b7c;
            transition: color 0.3s ease-in-out;
        }
        &__image.active ~ &__text {
            color: $primary;
        }
    }
}

#photoEditorContainer {
    ul.tui-image-editor-help-menu.top {
        width: 288px;
        background-color: rgba(255, 255, 255, 0.30);
        li.tui-image-editor-item {
            padding-top: 6px;
            div.tui-image-editor-icpartition {
                display: none;
            }
        }
        li.tie-btn-delete, li.tie-btn-deleteAll, li.tie-btn-reset {
            display: none;
        }
        li.tui-image-editor-item:nth-child(4), li.tui-image-editor-item:nth-child(9) {
            display: none;
        }
    }
}