.DTE_Field {
    .input-group {
        button.color-preview {
            width: 2.5rem;
            display: inline-block;
            background-color: transparent;
            border-color: $input-border-color;
            cursor: pointer;

            &:hover {
                border-color: $secondary;
            }
        }
    }
}
