webjet-dte-jstree {
    display: block;

    .group-id {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .custom-modal {
        position: fixed;
        z-index: 99999999;
        inset: 0;
        width: 100%;
        height: 100%;
        border: 0;
        overflow-y: auto;
        background: rgba(0, 0, 0, .7);

        .custom-modal-wrapper {
            position: relative;
            display: block;
            max-width: 1000px;
            min-height: 400px;
            margin: 5% auto;
            padding: 15px;
            border: 1px solid $nice-black;
            border-radius: 6px;
            background: $white;
        }

        .close-custom-modal {
            position: absolute;
            z-index: 1;
            top: 8px;
            right: 8px;
            padding: 5px 6px;
        }

        .jstree {
            padding-bottom: 15px;
            background: $white;
        }
    }
}

webjet-image-area-selector {
    display: block;

    .loading {
        display: flex;
        height: 100%;
        min-height: 450px;
        align-items: center;
        justify-content: center;
    }

    .coordinates {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
        background: $nice-gray;
    }

    .coordinate-label {
        margin: 0;
        line-height: 35px;
    }

    .coordinate-input {
        width: 100px;
        margin: 0 5px;
    }

    .cropper-wrapper {
        margin-top: 58px;
        width: max-content;
        min-width: 100%;
    }
}

#bookmark_modal,
#feedback_modal {
    .modal-content {
        overflow: hidden;
    }

    .modal-body {
        padding: 0;
    }

    .modal-footer {
        .DTE_Form_Buttons {
            margin-top: 8px;
            button.btn-close-editor {
                margin-left: auto;
            }
        }
    }
}

#feedback-upload.dz-started .dz-message {
    display: block !important;
}

#webjet-overview-dashboard {
    .overview__dashboard,
    .overview__news {
        margin: 15px 0;
        padding: 20px;
        border-radius: 10px;
    }

    .overview__dashboard {
        background: #edeff6;

        &__title {
            padding-bottom: 25px;

            h2,
            p {
                margin-bottom: 20px;
            }

            @media screen and (max-width: 575px) {
                padding: 25px 10px 20px;
                background: transparent;

                p {
                    max-width: 100%;
                    text-align: justify;
                }
            }
        }

        &__item {
            &__title {
                color: #585d6c;
                font-size: 13px;
                font-weight: bold;

                @media screen and (max-width: 767px) {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
            }

            &.navstevy .overview__dashboard__item__info:hover {
                background: #b3caf7;
            }

            &.formulare .overview__dashboard__item__info {
                color: #54052b;

                &:hover {
                    background: #eaaac9;
                }
            }

            &.foto .overview__dashboard__item__info {
                color: #480250;

                &:hover {
                    background: #e3dbff;
                }
            }

            &.dokumenty .overview__dashboard__item__info {
                color: #0c3629;

                &:hover {
                    background: #c1e8dc;
                }
            }
        }

        &__item__info {
            position: relative;
            display: block;
            padding: 25px 20px;
            border: 2px solid #e6e8ef;
            border-radius: 10px;
            color: #072764;
            transition: all .3s ease;

            &:hover { border-color: transparent; box-shadow: 0 11px 13px #c3c2c2; }
            &__number { position: absolute; top: 50%; right: 15px; font-size: 20px; font-weight: bold; transform: translateY(-50%); }
        }
    }

    .overview__news {
        background: #dddfe6;
        color: #232426;
        &__head { position: relative; height: 45px; padding-left: 60px; }
        &__head__icon { position: absolute; left: 0; display: flex; width: 45px; height: 45px; align-items: center; justify-content: center; border-radius: 10px; background: #4d5262; color: $white; font-size: 20px; }
        &__head > span { position: absolute; top: 50%; font-size: 13px; font-weight: bold; transform: translateY(-50%); }
        &__content ul { margin: 20px -20px 0; padding: 0; list-style: none; }
        &__content__link { display: block; padding: 10px 20px; background: transparent; color: #262729; font-size: 14px; transition: all .3s ease; }
        &__content__link:hover { background: $nice-gray; color: #262729; text-decoration: none; text-transform: none; }
        &__content__link .title { display: block; margin-bottom: 5px; font-weight: bold; }
        &__content__link .perex { color: #48494d; }
    }
}

@media (max-width: 1000px) {
    webjet-dte-jstree .custom-modal .custom-modal-wrapper { max-width: 90%; }
}
