.cke_dialog_contents {
    .cke_dialog_footer {
        padding: 8px 12px;
        .cke_dialog_ui_hbox.cke_dialog_footer_buttons {
            margin: 0px;
        }
    }
    .cke_dialog_ui_button, a.cke_dialog_ui_button, .cke_dialog_footer_buttons a.cke_dialog_ui_button {
        font-family: "Asap",sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px 12px !important;
        background-color: white;
        border: 1px solid #868EA5;
        border-radius: 6px !important;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: auto;
        height: auto;
        line-height: normal;
        min-width: 56px;
        box-shadow: none;
        background-image: none;
        span {
            color: #13151B;
            font-size: 16px;
            padding: 0px !important;
            background-color: transparent;
            line-height: 1.5;
            text-shadow: none;
            border: 0px;
        }
        &:hover {
            background-color: #13151b;
            background-image: none;
            span {
                color: white;
            }
        }
    }
    a.cke_dialog_ui_button {
        padding: 4px 4px !important;
        span {
            line-height: normal;
        }
    }
    a.cke_dialog_ui_button_ok, .cke_dialog_footer_buttons a.cke_dialog_ui_button_ok {
        background-color: #0063FB;
        border: 1px solid #0063FB;
        span {
            color: white;
        }
        &:hover {
            background-color: #0054d5;
        }
    }
}
table.cke_dialog {
    div.cke_dialog_title {
        background-image: none !important;
        background-color: white;
        color: #13151B;
        border-bottom: 1px solid #dee2e6;
        font-family: "Asap", sans-serif;
    }
    .cke_dialog_body {
        background-color: white;

        .cke_dialog_close_button {
            background: none !important;

            .cke_label {
                display: contents;
                font-size: 0px;

                &::before {
                    font-family: 'tabler-icons-filled';
                    color: #B3B8C7;
                    content: $ti-icon-circle-x;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
    div.cke_dialog_tabs {
        background-color: white;
        margin-top: 10px;
        height: 21px;
    }
    div.cke_dialog_tabs a {
        font-family: "Asap", sans-serif;
        font-weight: 700;
        color: #646979;
        padding: 0;
        margin-right: 16px;
        font-size: 15px;

        &.cke_dialog_tab_selected {
            background-color: white;
            margin-top: 0px;
            border-top-color: white;
            color: #0063FB;
        }
        &:hover {
            background-color: white;
        }
    }
    table.cke_dialog_contents {
        margin-top: 42px;
    }
}
table.cke_dialog.cke_single_page table.cke_dialog_contents {
    margin-top: 0px;

    .cke_dialog_ui_vbox.cke_dialog_page_contents {
        min-height: auto !important;
    }
}

.cke_dialog_contents_body {
    background-color: #fff !important;
    border-top: 1px solid #DDDFE6 !important;

    .cke_dialog_ui_vbox.cke_dialog_page_contents {
        min-height: auto !important;
        margin-top: 0px;
    }
}

div.cke_dialog_ui_text { width: 100% !important; }

td.cke_dialog_ui_vbox_child {
    div.cke_dialog_ui_input_text {
        width: 100% !important;

        input.cke_dialog_ui_input_text {
            display: block;
            width: 100%;
            padding: 2px 6px;
            font-family: "Asap", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #23262E;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #868EA5;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 6px;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    }

    .cke_dialog_ui_input_select button.bootstrap-select {
        padding: 2px 6px;
    }

    input.cke_dialog_ui_input_text.ui-autocomplete-input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #23262E;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #868EA5;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 6px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    label.cke_dialog_ui_labeled_label {
        font-size: 14px;
        line-height: 1.7;
        position: relative;
        text-align: right;
    }

    .cke_dialog_ui_select {
        width: 100% !important;

        .cke_dialog_ui_labeled_content {
            display: block;
            width: 100% !important;

            .cke_dialog_ui_input_select {
                width: 100% !important;
                float: none;
                display: inline-block;
                margin-left: 0;
                vertical-align: middle;
                position: relative;

                .cke_dialog_ui_input_select {
                    height: auto;
                    padding: 4px 6px; //On select element line-height does not work, so we alter padding to make select filed height same as text field
                    padding-top: 4px;
                    position: relative;
                    width: 100% !important;
                    text-align: right;
                    white-space: nowrap;
                    display: inline-flex;
                    border-color: #868EA5;
                    font-family: "Asap", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #23262E;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #868EA5;
                    border-radius: 6px;
                }
            }
        }
    }

}

table.urlFormTable {
    tr:first-child {
        td {
            padding-bottom: 4px;
        }
    }
    label {
        margin-right: 6px;
        white-space: nowrap;
    }
    label.secondLabel {
        margin-left: 6px;
    }
}