ul.ui-autocomplete.ui-menu {
    z-index: 10011;
    padding: $dropdown-padding-y $dropdown-padding-x;
    font-family: $admin-font-family;
    font-size: $dropdown-font-size;
    line-height: $line-height-base;
    color: $dropdown-color;
    background-color: $dropdown-bg;
    border: $dropdown-border-width solid $dropdown-border-color;
    border-radius: $dropdown-border-radius;
    margin-top: 2px;
    max-height: 100vh;
    overflow: auto;

    &.dt-autocomplete-select {
        max-height: min(255px, var(--wj-autocomplete-max-height, 100vh));

        @include show-scrollbar;
    }

    > li.ui-menu-divider:first-child {
        display: none;
    }

    li {
        list-style-type: none;
        cursor: pointer;
        white-space: nowrap;
        width: max-content;
        min-width: 100%;

        > .ui-menu-item-wrapper {
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;
            margin: 0;
            border: 0;
            color: $dropdown-link-color;
        }

        &:not(.disabled):not(.ui-state-disabled) {
            > .ui-menu-item-wrapper:hover,
            > .ui-menu-item-wrapper.ui-state-active {
                background-color: $nice-gray;
                color: $dropdown-link-hover-color;
            }

            &.dt-autocomplete-selected > .ui-menu-item-wrapper {
                background-color: $dropdown-link-active-bg;
                color: $dropdown-link-active-color;
            }
        }
    }

    li.disabled {
        background-color: #ceced2 !important;
        cursor: not-allowed !important;
    }
}

.DTE_Field_InputControl input.ui-autocomplete-input:focus, .DTE_Field_InputControl input.ui-autocomplete-input:hover {
    background-color: #F3F3F6;
}
