.modal {
    .DTE {
        .DTE_Field {
            .btn-ai {
                .ti-sparkles {
                    color: var(--wj-ai-color);
                    display: inline-block;
                }

                .ti-loader {
                    display: none;
                    color: var(--wj-ai-color);
                }

                &:hover {
                    background-color: var(--wj-ai-color-hover);
                    .ti-sparkles {
                        transform: rotate(20deg);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }

            &.ai-loading {
                .btn-ai {
                    background-color: var(--wj-ai-color-hover);

                    .ti-sparkles {
                        display: none;
                    }

                    .ti-loader {
                        display: inline-block;
                        animation: ti-loader-spin 2s linear infinite;
                    }
                }

                .form-control {
                    animation: ai-pulsate-color 1.5s infinite;
                    background-color: var(--wj-ai-color-hover);
                    cursor: not-allowed;
                }
            }
        }
    }
}

@keyframes ti-loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ai-pulsate-color {
    0% {
        color: var(--wj-ai-color);
    }
    50% {
        color: var(--wj-ai-color-dark);
    }
    100% {
        color: var(--wj-ai-color);
    }
}