@charset "UTF-8";

#photoEditorContainer {
    ul.tui-image-editor-help-menu.top {
        width: 288px;
        background-color: rgba(255, 255, 255, 0.30);
        li.tui-image-editor-item {
            padding-top: 6px;
            div.tui-image-editor-icpartition {
                display: none;
            }
        }
        li.tie-btn-delete, li.tie-btn-deleteAll, li.tie-btn-reset {
            display: none;
        }
        li.tui-image-editor-item:nth-child(4), li.tui-image-editor-item:nth-child(9) {
            display: none;
        }
    }
}