[data-scrollbar] {
    display: block;
    position: relative;
}

.scroll-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scrollbar-track {
    position: absolute;
    opacity: 0;
    z-index: 1;
    background: rgba(222, 222, 222, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.5s 0.5s ease-out;
    transition: opacity 0.5s 0.5s ease-out;
}

.scrollbar-track.show,
.scrollbar-track:hover {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.scrollbar-track-x {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.scrollbar-track-y {
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
    height: auto;
}

.scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0;
}
