@charset "UTF-8";

.btn {
    min-width: 140px;
    border: 0;
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    background: $c-text-highlight;

    &:hover,
    &:active,
    &:focus,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        background: darken($c-text-highlight, 10%);
    }
}

.btn-secondary {
    color: $c-text-main;
    background: #fafafa;

    &:hover,
    &:active,
    &:focus,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        background: darken(#fafafa, 2%);
        color: $c-text-main;
    }
}

.form-group.sender .btn {
    float: right;
    margin: 0;
}