/* UNDER MHO CONTROL - DONT TOUCH! */ /*=====================================================================
Panel s nadpisom na kazdej stranke
=====================================================================*/
.row.title {
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
  background-color: white;
  overflow: hidden;
}
.row.title h1.page-title {
  margin: 0;
  padding: 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-transform: uppercase;
}
.row.title h1.page-title i {
  margin-right: 12px;
  margin-left: 12px;
}
.row.title h1.page-title i:first-of-type {
  margin-left: 0;
  font-size: 16px;
}

/*=====================================================================
Breadcrumb pod nadpisom na kazdej stranke
=====================================================================*/
.page-bar {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
}

/*=====================================================================
Taby pod nadpisom
=====================================================================*/
.tabbable-custom.tabbable-full-width > .tab-content {
  padding: 15px;
  border-bottom: 1px solid #ddd !important;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton {
  margin-right: 10px;
  margin-bottom: 0;
  padding: 0;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton:hover {
  color: #0063FB;
  text-decoration: none;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton:last-of-type {
  margin-right: 100px;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton::before {
  left: 44px;
  right: 100%;
  bottom: 8px;
  height: 2px;
  background-color: #0063FB;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton:hover::before, .tabbable-custom.tabbable-full-width > .tab-content .default.imageButton:focus::before, .tabbable-custom.tabbable-full-width > .tab-content .default.imageButton:active::before {
  left: 44px;
  max-width: 500px;
  right: 0px;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton i.wjIconBig {
  background-color: transparent;
  background-size: 35px auto !important;
  width: 40px !important;
  height: 40px !important;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton i.wjIconBig.wjIconBig-uploadDoc {
  background-position: 0px -195px !important;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton i.wjIconBig.wjIconBig-dirAdd {
  background-position: 0px -236px !important;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton i.wjIconBig.wjIconBig-upload {
  background-position: 0px -40px !important;
}
.tabbable-custom.tabbable-full-width > .tab-content .default.imageButton i.wjIconBig.wjIconBig-dirRemove {
  background-position: 0px -429px !important;
}
.tabbable-custom.tabbable-full-width > .tab-content .form-inline .form-group {
  margin-bottom: 0;
  padding-right: 10px;
}
.tabbable-custom.tabbable-full-width > .tab-content .form-inline .form-group label {
  margin-bottom: 0;
  margin-right: 4px;
  line-height: 32px;
}
.tabbable-custom.tabbable-full-width > .tab-content .form-inline .btn:not(.imageButton) {
  margin: 0 !important;
}
.tabbable-custom.tabbable-full-width .alert {
  position: relative;
  top: -1px;
  display: block;
  margin: 0;
  padding: 0 8px;
  line-height: 32px;
  border-left-width: 0;
  border-right-width: 0;
}
.tabbable-custom.tabbable-full-width .alert .fa {
  margin-right: 10px;
}
.tabbable-custom.tabbable-full-width .alert.alert-warning {
  border-color: #dac496;
  color: #8a6d3b;
}
.tabbable-custom.tabbable-full-width .alert.alert-info {
  border-color: #8ed2e0;
}

/*=====================================================================
Novy vizual tabulky pre datatables
=====================================================================*/
.full-height-content-for-datatables {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -1000px;
  width: 1px;
}

table.table-ninja-style {
  margin: 0 !important;
  white-space: nowrap;
  word-break: keep-all;
}
table.table-ninja-style.table-bordered {
  border: 0px solid transparent !important;
}
table.table-ninja-style > tbody > tr {
  height: auto !important;
}
table.table-ninja-style > thead > tr > th,
table.table-ninja-style > tbody > tr > th,
table.table-ninja-style > tfoot > tr > th,
table.table-ninja-style > thead > tr > td,
table.table-ninja-style > tbody > tr > td,
table.table-ninja-style > tfoot > tr > td {
  border-top-color: #ddd;
  border-left-color: #eee;
  border-right-width: 0;
  border-left-width: 1px;
  padding: 12px 14px;
  font-size: 12px;
  line-height: 17px;
  color: #666;
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}
table.table-ninja-style > thead > tr > th.text-wrap,
table.table-ninja-style > tbody > tr > th.text-wrap,
table.table-ninja-style > tfoot > tr > th.text-wrap,
table.table-ninja-style > thead > tr > td.text-wrap,
table.table-ninja-style > tbody > tr > td.text-wrap,
table.table-ninja-style > tfoot > tr > td.text-wrap {
  white-space: normal;
  line-break: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
table.table-ninja-style > tbody > tr:last-child > td {
  border-bottom: 1px solid #ddd;
}
table.table-ninja-style > thead > tr.heading > th,
table.table-ninja-style > thead > tr.heading > td,
table.table-ninja-style > thead > tr > th,
table.table-ninja-style > thead > tr > td {
  font-weight: 600;
  color: #2b2b2c !important;
  background-color: transparent !important;
  text-align: left !important;
}
table.table-ninja-style > tbody > tr:nth-child(odd) > td,
table.table-ninja-style > tbody > tr:nth-child(odd) > th {
  background-color: white;
}
table.table-ninja-style > tbody > tr:nth-child(even) > td,
table.table-ninja-style > tbody > tr:nth-child(even) > th {
  background-color: #f6f9fb;
}
table.table-ninja-style > tbody > tr:hover > td {
  background-color: #e5eef9;
  border-left-color: #e5eef9;
  border-top-color: #cad9ea;
  color: #55595c;
}
table.table-ninja-style > tbody > tr:hover + tr > td {
  border-top-color: #cad9ea;
}
table.table-ninja-style > thead > tr > th.sorting,
table.table-ninja-style > thead > tr > th.sorting_asc,
table.table-ninja-style > thead > tr > th.sorting_desc {
  padding-left: 14px;
  padding-right: 14px;
}
table.table-ninja-style > thead > tr > th.sorting_asc {
  background-position: top 15px left 10px !important;
}
table.table-ninja-style > thead > tr > th.sorting_desc {
  background-position: top 8px left 10px !important;
}
table.table-ninja-style > thead > tr > th.sorting_asc,
table.table-ninja-style > thead > tr > th.sorting_desc {
  color: #1185f4 !important;
}
table.table-ninja-style > thead > tr > th.sorting:hover {
  background-image: url("/admin/skins/webjet8/assets/global/plugins/datatables/media/images/sort_asc.png");
}
table.table-ninja-style > thead > tr:first-child th,
table.table-ninja-style > thead > tr:first-child td {
  background-color: white !important;
}
table.table-ninja-style > thead > tr.filter td {
  padding-top: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  font-size: 13px !important;
  font-weight: 300 !important;
  color: #767676 !important;
}
table.table-ninja-style > thead > tr.filter td input {
  font-size: 13px !important;
  font-weight: 300 !important;
  color: #767676;
}
table.table-ninja-style thead tr th {
  vertical-align: top;
  height: 48px;
  cursor: default !important;
  position: relative;
}
table.table-ninja-style > thead > tr > th label {
  margin: 0;
}
table.table-ninja-style thead tr th a.table-clear-search-input {
  position: absolute;
  top: 12px;
  right: 14px;
  display: inline-block;
  color: #ff6a6a;
  opacity: 0.5;
}
table.table-ninja-style thead tr th a.table-clear-search-input:hover {
  opacity: 1;
}
table.table-ninja-style thead tr th a.table-clear-search-input i.fa {
  font-size: 13px;
}
table.table-ninja-style thead tr th .table-title {
  display: inline-block;
  width: auto;
  height: 24px;
  white-space: nowrap;
  margin-right: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
table.table-ninja-style thead tr th .table-title.sortable:hover {
  cursor: pointer;
  color: #1185f4 !important;
}
table.table-ninja-style > thead > tr > th .table-title.sortable {
  margin-right: 35px;
}
table.table-ninja-style > thead > tr > th.sorting_asc .table-title,
table.table-ninja-style > thead > tr > th.sorting_desc .table-title {
  padding-left: 15px;
  margin-right: 20px;
}
table.table-ninja-style > thead > tr > th.sorting_desc .table-title.title-empty {
  margin: 0;
  padding: 0;
  min-width: 1px;
  width: 1px;
}
table.table-ninja-style thead tr th .table-input {
  font-weight: normal;
  color: #767676;
}
table.table-ninja-style thead tr th .table-input .checker {
  margin-left: 0;
}
table.table-ninja-style thead tr th .form-control {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  color: #767676;
  min-width: 45px;
}
table.table-ninja-style input.date-picker {
  background-image: none;
  width: 50%;
  min-width: 90px !important;
}
table.table-ninja-style input.date-picker:first-of-type {
  margin-right: 5px;
}
table.table-ninja-style a.doc-title-link-show {
  display: inline-block;
  margin: 0;
}
table.table-ninja-style td > a:not(.doc-title-link-show),
table.table-ninja-style td a.doc-title-link-edit {
  position: relative;
  border: 0px solid transparent;
  padding: 4px 0;
}
table.table-ninja-style td > a:not(.doc-title-link-show):hover,
table.table-ninja-style td > a:not(.doc-title-link-show):focus,
table.table-ninja-style td a.doc-title-link-edit:hover,
table.table-ninja-style td a.doc-title-link-edit:focus {
  text-decoration: none;
}
table.table-ninja-style td a:not(.doc-title-link-show)::after,
table.table-ninja-style td a.doc-title-link-edit::after {
  position: absolute;
  content: " ";
  display: inline-block;
  top: 0;
  bottom: 0;
  left: -8px;
  right: -8px;
  background-color: transparent;
  border: 1px solid #428bca;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
table.table-ninja-style td > a:not(.doc-title-link-show):hover::after,
table.table-ninja-style td > a:not(.doc-title-link-show):focus::after,
table.table-ninja-style td a.doc-title-link-edit:hover::after,
table.table-ninja-style td a.doc-title-link-edit:focus::after {
  visibility: visible;
  opacity: 1;
}
table.table-ninja-style a.doc-title-link-edit .fa {
  margin-right: 4px;
}
table.table-ninja-style tr.is-default-doc td {
  background-color: #fffae9 !important;
  border-top-color: #dcce87 !important;
  border-left-color: #f5f1db !important;
}
table.table-ninja-style tr.is-default-doc:hover td {
  background-color: #f3e9b7 !important;
  border-left-color: #f3e9b7 !important;
}
table.table-ninja-style tr.is-default-doc + tr td {
  border-top-color: #dcce87 !important;
}
table.table-ninja-style tr.is-not-available td {
  background-color: #fff1f1 !important;
  border-top-color: #dab0b1 !important;
  border-left-color: #fce3e3 !important;
}
table.table-ninja-style tr.is-not-available:hover td {
  background-color: #f3d6d6 !important;
  border-left-color: #f3d6d6 !important;
}
table.table-ninja-style tr.is-not-available + tr td {
  border-top-color: #dab0b1 !important;
}
table.table-ninja-style tr.is-row-acctive td {
  background-color: #e2f8e4 !important;
  border-left-color: #e2f8e4 !important;
  border-top-color: #b1e4b1 !important;
  color: #309227 !important;
}
table.table-ninja-style tr.is-row-acctive + tr td {
  border-top-color: #b1e4b1 !important;
}
table.table-ninja-style tr.is-row-acctive:hover td {
  background-color: #beefbe !important;
  border-left-color: #beefbe !important;
}
table.table-ninja-style tr td.dataTables_empty {
  text-align: left;
  color: #ff6a6a !important;
}
table.table-ninja-style img.vlastnostiImg {
  display: inline-block;
  width: 15px;
  height: auto;
}
table.table-ninja-style tr.doc-controller-shown + tr td {
  padding: 10px 3px;
  background-color: white;
}
table.table-ninja-style tr.doc-controller-shown + tr td .btn-default {
  background-color: transparent;
  color: #5d5d5d;
  border: 0px solid transparent;
  border-right: 1px solid transparent;
  font-size: 13px;
  margin: 0;
}
table.table-ninja-style tr.doc-controller-shown + tr td .btn-default:hover {
  color: #428bca;
}
table.table-ninja-style tr.doc-controller-shown + tr td i {
  margin-right: 4px;
  color: #5d5d5d;
}
table.table-ninja-style tr.doc-controller-shown + tr td .btn-default:hover i {
  color: #428bca;
}
table.table-ninja-style .properties-icons .fa {
  color: #428bca;
  font-size: 14px;
}
table.table-ninja-style .properties-icons span {
  display: inline-block;
  margin: 0 10px 0 0;
}
table.table-ninja-style .properties-icons span:last-of-type {
  margin-right: 0;
}
table.table-ninja-style .tooltip {
  opacity: 0.8 !important;
}
table.table-ninja-style .tooltip-inner {
  max-width: 600px;
  border-radius: 4px !important;
}

.table-control-panel {
  background-color: #fff;
  overflow: hidden;
  padding: 10px;
  height: 50px;
  width: 100%;
  clear: both;
}
.table-control-panel .table-control-panel-info,
.table-control-panel .table-control-panel-buttons,
.table-control-panel .table-control-panel-info > * {
  float: left;
  height: 30px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}
.table-control-panel .table-control-panel-info {
  width: 65%;
}
.table-control-panel .table-control-panel-info > * {
  float: none;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #6b6a6a;
}
.table-control-panel .table-control-panel-info .dataTables_info {
  margin-right: 35px !important;
}
.table-control-panel .table-control-panel-info .dataTables_info .fa {
  font-size: 14px;
  margin-right: 8px;
  color: #888;
}
.table-control-panel .table-control-panel-info div.dataTables_paginate {
  margin: 0 35px 0 0 !important;
}
.table-control-panel .table-control-panel-info div.dataTables_paginate .pagination-panel > * {
  display: block;
  float: left;
}
.table-control-panel .table-control-panel-info div.dataTables_paginate .pagination-panel .btn.default {
  height: 30px;
  line-height: 30px;
  position: relative;
  width: 30px;
  padding: 0;
}
.table-control-panel .table-control-panel-info div.dataTables_paginate .pagination-panel .btn.default i.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table-control-panel .table-control-panel-buttons {
  width: 35%;
}
.table-control-panel .table-control-panel-buttons .dt-buttons {
  padding: 0;
  margin: 0;
  width: 100%;
}
.table-control-panel .table-control-panel-buttons .dt-buttons .dt-button {
  width: auto;
  float: right;
  margin: 0 0 0 6px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  text-align: center;
  color: #6b6a6a;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  background-image: none;
}
.table-control-panel .table-control-panel-buttons .dt-buttons .dt-button:hover, .table-control-panel .table-control-panel-buttons .dt-buttons .dt-button:focus {
  background-color: #e9e9e9;
  border-color: #aaa;
}
.table-control-panel .table-control-panel-buttons .dt-buttons .dt-button .fa {
  font-size: 12px;
  margin-right: 4px;
  color: #888;
}
.table-control-panel .seperator {
  display: none;
  visibility: hidden;
}
.table-control-panel .dataTables_filter .form-control,
.table-control-panel .pagination-panel-input {
  margin: 0;
  float: left;
  height: 30px !important;
  width: 200px !important;
  color: #6b6a6a;
}
.table-control-panel .pagination-panel-input {
  width: 50px !important;
  text-align: center;
  margin: 0 5px;
}
.table-control-panel .dataTables_filter label {
  margin: 0;
  padding: 0;
}
.table-control-panel .dataTables_filter .form-control ::-webkit-input-placeholder {
  color: #999;
}
.table-control-panel .dataTables_filter .form-control :-moz-placeholder {
  color: #999;
  opacity: 1;
}
.table-control-panel .dataTables_filter .form-control ::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.table-control-panel .dataTables_filter .form-control :-ms-input-placeholder {
  color: #999;
}
.table-control-panel .dataTables_filter .form-control ::-ms-input-placeholder {
  color: #999;
}
.table-control-panel .dataTables_filter .form-control ::placeholder {
  color: #999;
}

.row-controller-and-settings {
  text-align: right;
}
.row-controller-and-settings.text-left {
  text-align: left;
}
.row-controller-and-settings .row-two-block {
  position: relative;
}
.row-controller-and-settings .row-two-block-tools {
  position: absolute;
  top: 0;
  left: 0;
}
.row-controller-and-settings .row-two-block-tools .checker {
  margin: 0 !important;
}
.row-controller-and-settings .row-two-block-tools a.show-doc-controller {
  display: inline-block;
  margin-left: 12px;
}
.row-controller-and-settings .row-two-block-numbers {
  padding-left: 60px;
}
.row-controller-and-settings .row-two-block-numbers a.doc-title-link-edit {
  margin-left: 5px;
}
.row-controller-and-settings .not-checkbox .row-two-block-tools a.show-doc-controller {
  display: inline-block;
  margin-left: 0;
}
.row-controller-and-settings .not-checkbox .row-two-block-numbers {
  padding-left: 25px;
}

.table-buttons-collections-style.dt-button-collection.fixed {
  background-color: white;
  width: 200px;
  top: auto;
  left: auto;
  bottom: 100px;
  right: 100px;
  margin: 0;
  padding: 15px;
  column-gap: 15px;
  box-shadow: none;
  border: 0 solid transparent;
}
.table-buttons-collections-style.dt-button-collection.fixed.two-column {
  width: 600px;
  column-count: 3;
}
.table-buttons-collections-style.dt-button-collection.fixed a.dt-button {
  display: block;
  width: 100%;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  border-radius: 0;
  text-align: left;
  color: #6b6a6a;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-buttons-collections-style.dt-button-collection.fixed a.dt-button:hover, .table-buttons-collections-style.dt-button-collection.fixed a.dt-button:focus {
  background-color: #e9e9e9;
  border-color: #aaa;
}
.table-buttons-collections-style.dt-button-collection.fixed a.dt-button.active {
  border-color: #35aa47;
  background-color: #def1e1;
  background-image: none;
  color: #417949;
  box-shadow: none;
}
.table-buttons-collections-style.dt-button-collection.fixed a.dt-button.active:hover, .table-buttons-collections-style.dt-button-collection.fixed a.dt-button.active:focus {
  background-color: #bfe6c5;
}

.table-ninja-style-wrapper {
  overflow: hidden;
  position: relative;
}
.table-ninja-style-wrapper::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 99999999;
  opacity: 1;
  animation: showDatatables 2s ease-in-out;
}
body.is-table-ninja-style-init .table-ninja-style-wrapper::before {
  opacity: 0;
  bottom: auto;
  right: auto;
}
.table-ninja-style-wrapper .dataTables_scrollHead {
  border: 0 !important;
}
.table-ninja-style-wrapper .dataTables_scroll {
  margin: 0 !important;
}
.table-ninja-style-wrapper .dataTables_scrollBody {
  border-bottom: 0px solid transparent !important;
}
.table-ninja-style-wrapper .DTFC_LeftWrapper {
  z-index: 3;
  height: auto !important;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.table-ninja-style-wrapper .DTFC_LeftWrapper table {
  border-right: 2px solid #bad7fb !important;
  width: auto !important;
}
.table-ninja-style-wrapper .DTFC_LeftWrapper td {
  display: none;
  width: auto !important;
  max-width: 250px;
}
.table-ninja-style-wrapper .DTFC_LeftWrapper td:last-child {
  display: table-cell;
}
.table-ninja-style-wrapper .DTFC_LeftWrapper th {
  display: none;
  width: auto !important;
}
.table-ninja-style-wrapper .DTFC_LeftWrapper th:last-child {
  display: table-cell;
}
.table-ninja-style-wrapper .is-left-sidebar-fixed .DTFC_LeftWrapper {
  transform: translateX(0);
}
.table-ninja-style-wrapper .dataTables_scrollHead {
  z-index: 2;
  border-bottom: 4px solid #bad7fb !important;
  box-shadow: 0px 15px 20px -2px rgba(0, 0, 0, 0.1);
}
.table-ninja-style-wrapper .DTFC_LeftHeadWrapper {
  border-bottom: 4px solid #bad7fb !important;
  visibility: hidden;
}
.table-ninja-style-wrapper .table-alert-text {
  color: #ff6a6a;
}
.table-ninja-style-wrapper .table-warning-text {
  color: #ff9800;
}
.table-ninja-style-wrapper .table-alert-text .fa,
.table-ninja-style-wrapper .table-warning-text .fa {
  margin-right: 4px;
}

@keyframes showDatatables {
  from {
    opacity: 1;
    bottom: 0;
    right: 0;
  }
  99% {
    opacity: 0.1;
    bottom: auto;
    right: auto;
  }
  to {
    opacity: 0;
    bottom: auto;
    right: auto;
  }
}
/*=====================================================================
Zmena stylov pre uzke obrazovky
=====================================================================*/
/*

#SmallWindow-MiniHeader {
	visibility: hidden;
}

@media (max-height: 680px) {

	.SmallWindow-ShowHeader {
		z-index:10000;
	}
	.SmallWindow-ShowHeader #SmallWindow-HeaderHelper{
	 	width: 39px;
		height: 25px;
		background: #FFD600;
		background-size:50%;
		position: relative;
		padding: 5px 0px 0px 4px;
		color: #14243E;
	}
	#SmallWindow-HeaderHelper:after {
	  content: "";
	  position: absolute;
	  bottom: -10px;
	  left: 0;
	  width: 0;
	  height: 0;
	  border-left: 20px solid transparent;
	  border-right: 19px solid transparent;
	  border-top: 10px solid #FFD600;
	  z-index:10001;
	}
	.SmallWindow-ShowHeader #SmallWindow-HeaderHelper2{
	 	width: 31px;
		height: 22px;
		background: #111C2E;
		position: relative;
		padding-left:5px;
		margin-top:-5px;
	}
	#SmallWindow-HeaderHelper2:after {
	  content: "";
	  position: absolute;
	  bottom: -8px;
	  left: 0;
	  width: 0;
	  height: 0;
	  border-left: 16px solid transparent;
	  border-right: 15px solid transparent;
	  border-top: 8px solid #111C2E;
	  z-index:10002;
	}
	#SmallWindow-MiniHeader {
		visibility:visible;
		height:5px;
		margin-top:55px;
		width:100%;
	    background: #FFD600;
	    margin-left: 6px;
	    opacity:1;
	    transition: opacity .5s, visibility .5s;
	    -moz-transition: opacity .5s, visibility .5s;
	    -webkit-transition: opacity .5s, visibility .5s;
	}
	#SmallWindow-BigHeader {
		margin-top:-60px;
		z-index:10010;
		visibility: hidden;
		opacity: 0;
    	transition: opacity .5s, visibility .5s;
	    -moz-transition: opacity .5s, visibility .5s;
	    -webkit-transition: opacity .5s, visibility .5s;
	}
	.SmallWindow-ShowHeader .page-header:hover #SmallWindow-BigHeader{
	    visibility: visible;
	    opacity: 1;
	}
	.SmallWindow-ShowHeader .page-header:hover #SmallWindow-MiniHeader{
	    visibility:hidden;
	    opacity:0;
	}
	.SmallWindow-ShowHeader .page-header.navbar {
		margin-top:-55px;
		transition: margin-top .4s;
	    -moz-transition: margin-top .4s;
	    -webkit-transition: margin-top .4s;
	}
	.SmallWindow-ShowHeader .page-header.navbar:hover {
		margin-top: 0px;
	}
	.SmallWindow-ShowHeader.page-header-fixed .page-container {
	    margin-top: 10px;
	}


    .tabbable-custom > .nav-tabs { padding: 3px 10px 0 10px; }
    .tabbable-custom.tabbable-full-width > .nav-tabs > li > a { padding: 5px 15px;}
	.tabbable-custom > .nav-tabs > li > a { padding:5px 20px; }
	.btn.imageButton { margin-bottom: 5px; }
	.btn.imageButton i {
		background-size: 100%;
	}
	.btn.imageButton {
	    margin-bottom:0px;
	   padding: 2px 10px 1px 5px;
	}
	.btn {
		font-size: 13px;
		padding: 4px 10px;
	}
	i.wjIconBig {
	    height: 34px !important;
	    width: 30px !important;
	}

	.wjIconBig-uploadDoc {	    background-position: 0px -167px !important;	}

	.wjIconBig-dirEdit {	    background-position: 0px -235px !important;	}
	.wjIconBig-dirAdd {	    background-position: 0px -203px !important;	}
	.wjIconBig-importExport {	    background-position: 0px -270px !important;	}
	.wjIconBig-checkLinks {	    background-position: 0px -302px !important;	}
	.wjIconBig-dirRemove {    background-position: 0px -369px !important;}
	.wjIconBig-upload {    background-position: 0px -35px !important;}
    .wjIconBig-back {    background-position: 0px -67px !important;}
    div.elfinder .wjIconBig-back {    background-position: 0px -100px !important;}
	span.wjIconBig-upload {    background-position: 0px -50px !important;}
	.td_size_checkbox {
    	padding-left: 0 !important;
	}
	.form-control {
		height:26px;
		font-size: 13px;
	    padding: 4px 12px;
	}
	.input-icon > .form-control {
		height: 33px;
    	font-size: 15px;
	}
	.lang.select2.form-control {
		height: 33px;
    	font-size: 15px;
	}

	.chat-form .btn-cont {
	    margin-top: -34px;
	}
	.chat-form .btn-cont .arrow {
	    top: 13px;
	}

	#operaciaOznac {
		font-size:13px;
        padding:5px 0px 0px 0px;
	}
	#tabMenu1 > .imageButton > .wjIconBig-uploadDoc {
	    background-position: 0px -169px !important;
	}
    div.elfinder .wjIconBig-uploadDoc {    background-position: 0px -250px !important;}
	table#groupslistTableAjax th {
	    padding: 4px 8px 4px 20px !important;
	}
	.table.table-wj tr.heading > th, table.sort_table th {
	    padding: 8px 8px 8px 8px !important;
	}
	.tab-content .tab-pane.active, .tabbable-custom.tabbable-full-width > .tab-content {
	    padding: 0px 0px 3px 0px;
	}
	div.tab-content div.form-group {
	    margin-bottom: 0px;
	}
	div.tab-content div.form-group label {
	    margin-bottom: 0px;
	}
	table#groupslistTableAjax td {
	    font-size: 12px !important;
	    line-height: 23px !important;
	    padding: 2px;
	}
	.input-sm {
	    height: 24px;
	    font-size: 12px;
	}
	.page-content-wrapper .page-content {
	    margin-top: 37px;
	}
	#editorMainDiv {
	    top: -37px !important;
	}
    body.page-wjiframed #editorMainDiv {
        top: -33px !important;
    }
	#editorFormId .form-inline .form-group .btn {
	    margin-right: 5px;
	}
	#wjTopButtons {
	    margin-top: 3px !important;
	    padding-bottom: 3px !important;
	}
	.bootstrap-switch {
		margin-left:5px;
	}

	#editorFormId .nav-tabs {
	    padding: 3px 10px 0px 10px;
	}
	.nav>li>a {
	    padding: 2px 12px 3px;
	}
	.nav-tabs > li.active {
	    border-top: 2px solid #29c01a;
	}
	.nav-tabs > li {
	    margin-bottom: -1px;
	}
	.cke_top {
	    padding: 6px 8px 3px !important;
	}

	div.tab-content div.form-group label {
	    line-height: 30px;
	    font-size: 13px;
	}
	.table.table-wj tr td, table.sort_table tr td {
	    padding: 5px 5px 2px 5px;
	}
	table .glyphicon {
	    ;
	    padding: 7px;
	}
}
*/
@media (max-height: 680px) {
  .row.title {
    padding: 0 10px;
    height: 30px;
  }
  .row.title h1.page-title {
    padding: 5px 0;
    font-size: 13px;
  }
  .tabbable-custom.tabbable-full-width > .tab-content {
    padding: 10px;
  }
  .page-header-fixed .page-container {
    margin-top: 40px;
  }
  .page-sidebar-fixed .page-sidebar {
    top: 40px;
  }
  .page-header.navbar {
    height: 40px;
    min-height: 40px;
  }
  .page-header.navbar .navbar-version {
    top: 24px;
    left: 17px;
  }
  .page-header.navbar .page-header.navbar .actual-domain {
    top: 2px;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown {
    margin: 0;
  }
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .page-header .top-menu .dropdown-quick-sidebar-toggler > .dropdown-toggle {
    padding: 11px 10px 9px 10px !important;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
    padding: 10px 12px 8px;
  }
  table.table-ninja-style > tbody > tr > td,
table.table-ninja-style > tbody > tr > th,
table.table-ninja-style > tfoot > tr > td,
table.table-ninja-style > tfoot > tr > th,
table.table-ninja-style > thead > tr > td,
table.table-ninja-style > thead > tr > th {
    padding: 8px 14px;
  }
  #editorMainDiv {
    top: -30px !important;
  }
  #editorMainDiv #wjTopButtons {
    height: 30px;
    padding: 0 0 0 15px !important;
  }
  #editorFormId #wjTopButtons .form-group {
    float: left;
  }
  #editorFormId #wjTopButtons .form-group .btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 30px;
    line-height: 30px;
  }
  #editorFormId #wjTopButtons .form-control {
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #editorFormId #wjTopButtons .bootstrap-switch,
#editorFormId #wjTopButtons .bootstrap-switch .bootstrap-switch-container {
    height: 30px;
  }
  #editorFormId #wjTopButtons .bootstrap-switch-handle-on,
#editorFormId #wjTopButtons .bootstrap-switch-handle-off {
    height: 22px;
    line-height: 22px;
  }
}

body.login div.form-group {
  margin-bottom: 16px;
}
body.login input.form-control, body.login select.form-select {
  font-size: 14px;
  line-height: 21px;
}
body.login .close {
  float: right;
  opacity: 0.5;
}
body.login .alert ul {
  margin-top: 8px;
  margin-bottom: 0;
}