@charset "UTF-8";

@mixin show-scrollbar {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 8px;
    }
}

@mixin DTED-tablet-base {
    .modal-dialog {
        max-width: 100%;
        margin: 0px;
    }
    /* IFRAME model opened, not needed anymore
    .modal-header {
        padding-top: 5px;
        padding-bottom: 5px;

        h5 {
            font-size: 1.05em;
        }

        .DTE_Header_Content .row {
            .col-sm-4 {
                width: auto;
            }
            .col-sm-8 {
                width: 100%;
            }
        }
    }
    */

    .modal-footer {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .modal-dialog-scrollable {
        margin: 0px;
        width: 100%;
        max-width: 100% !important;
        height: 100%;
        max-height: 100%;

        .modal-content {
            height: 100vh;
            max-height: 100vh;

            div.modal-body-bg {
                min-height: 100%;
            }
            .modal-body.has-content {
                //ak ma content, napr. ckeditor tak musi mat auto height
                div.modal-body-bg {
                    min-height: auto;
                }
            }
            div.DTE_Header_Content {
                div.dialog-buttons {
                    display: none;
                }
            }
        }
    }
    div.DTE_Action_Edit h5.modal-title, div.DTE_Action_Create h5.modal-title {
        display: none;
    }
    .cke_top {
        overflow: scroll;
    }
    .cke_top span.cke_toolbox {
        max-height: 55px;
        min-height: auto;
        width: 1100px;
    }

    .modal-footer {
        .DTE_Footer_Content {
            margin-top: 5px;
            margin-bottom: 0px
        }
        .DTE_Form_Error {
            margin-top: 0px !important;
        }
        .DTE_Form_Buttons {
            margin-top: 1px;
            margin-bottom: 1px;
            display: contents;

            .btn {
                line-height: 18px;
            }
        }
    }

    .DTE_Action_Remove {
        height: auto !important;
        width: 70% !important;
        left: 15% !important;
        top: 20px !important;
    }
}