@charset "UTF-8";

$wj-install-name : "webjet";
$wj-template-name : "ninja-starter-kit";
$wj-assets : "/templates/#{$wj-install-name}/#{$wj-template-name}/assets/";
$wj-images : "#{$wj-assets}images/";
$wj-fonts : "#{$wj-assets}fonts/";

//BREAKPOINT
$bp-dinosaur : 576px;
$bp-mobile : 768px;
$bp-tablet : 992px;
$bp-laptop : 1200px;
$bp-desktop : 1600px;

//BASIC COLOR PALLETE
$c-selection-bg: DodgerBlue;

// FONT FAMILIES
$base-font-family: 'Asap', sans-serif;
$secondary-font-family: 'Asap', sans-serif;

//redefine BS CSS variables with our colors
//WARNING: update also final CSS in webjet2021.css after you add some new variable
:root {
  --bs-body-color: #{$secondary};
  --bs-danger: #{$danger};
  --bs-warning: #{$warning};
  --wj-primary: #{$primary};
  --wj-secondary: #{$secondary};
  --wj-nice-gray: #{$nice-gray};
  --wj-nice-gray-100: #{$nice-gray-100};
  --wj-nice-gray-200: #{$nice-gray-200};
  --wj-nice-gray-300: #{$nice-gray-300};
  --wj-dark-60: #{$dark-60};
  --wj-ai-color: #{$ai-color};
  --wj-ai-color-dark: #{$ai-color-dark};
  --wj-ai-color-hover: #{$ai-color-hover};
}