extends ../../partials/layout

block content

    +breadcrumb(
        'audit-notifications',
        [
            [ '#', '[[\#{components.adminlog.notif}]]', true ]
        ],
        [ '/admin/v9/apps/audit-search/', '[[\#{components.adminlog.adminlog}]]' ]
    )

    script.
        window.helpLink = "/sysadmin/audit/audit-notifications";
        let auditNotificationsTable;
        window.domReady.add(function () {
            let url = "/admin/rest/audit/notify";
            let columns = [(${layout.getDataTableColumns("sk.iway.iwcm.system.audit.jpa.AuditNotifyEntity")})];
            //console.log(columns);

            auditNotificationsTable = WJ.DataTable({
                url: url,
                serverSide: true,
                columns: columns
            });
            //vypni zobrazenie tlacitka import
            auditNotificationsTable.hideButton("import");
        });

    <table class="datatableInit table"></table>