#quizAnswerStatistics {
    margin-left: 1%;
}

.quizAnswerStat_div {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#quizAnswerStatistics_wrapper {
    margin-top: 20px;
}

table.dataTable thead .sorting {
    background: none !important;
}