extends ../../partials/layout

block content

    script.

        window.helpLink = "/frontend/setup/README";
        var tempsGroupsListTable;
        window.domReady.add(function () {
            var tabs = [
                { id: 'basic', title: '[[\#{datatable.tab.basic}]]', selected: true },
                { id: 'metadata', title: '[[\#{editor.tab.metadata}]]' },
                { id: 'fields', title: '[[\#{editor.tab.fields}]]' }
            ];
            var columns = [(${layout.getDataTableColumns('sk.iway.iwcm.doc.TemplatesGroupBean')})];

            tempsGroupsListTable = WJ.DataTable({
                url: "/admin/rest/templates/temps-groups-list",
                columns: columns,
                tabs: tabs,
                editorId: "templatesGroupId"
            });

            let select = $("div.breadcrumb-language-select").first();
            $("#datatableInit_wrapper .dt-header-row .row .col-auto .dt-buttons").prepend(select);
            select.show();

            $("#datatableInit_wrapper .dt-header-row .row .col-auto .dt-buttons div.breadcrumb-language-select select").change(function() {
                //console.log("Select changed, language=", breadcrumbLanguage);
                let lng = $(this).val();
                //console.log("Select changed, language=", lng);
                url = "/admin/rest/templates/temps-groups-list?breadcrumbLanguage="+lng;
                tempsGroupsListTable.setAjaxUrl(url);
                tempsGroupsListTable.EDITOR.s.ajax.url = WJ.urlAddPath(url, '/editor');
                tempsGroupsListTable.ajax.reload();
            });

        });

    <table class="datatableInit table"></table>
