extends ../../partials/layout

block content

    style.
        #datatableInit_wrapper {
            display: none;
        }

    script.
        window.helpLink = "/admin/users/README";

        var tabs = [
            {id: "personalInfo", title: "[[\#{useredit.personal_info}]]", selected: true},
            {id: "contactTab", title: "[[\#{components.users.contact}]]", selected: false}
        ];

        var usersDatatable = null;
        var eventsBinded = false;
        let permGroups = [];

        window.domReady.add(function () {

            //do not allow to open this page directly
            if (window.parent == window.self) {
                window.location.href = "/admin";
                return;
            }

            var columns = [(${layout.getDataTableColumns('sk.iway.iwcm.components.users.userdetail.UserDetailsSelfEntity')})];

            usersDatatable = WJ.DataTable({
                url: "/admin/rest/user-self",
                columns: columns,
                tabs: tabs,
                fetchOnEdit: true,
                fetchOnCreate: true,
                serverSide: true
            });

            usersDatatable.EDITOR.on('open', function (e, type) {
                $("div.modal.DTED > div.modal-dialog").addClass("modal-xl");
            });

            usersDatatable.hideButton("create");
            usersDatatable.hideButton("duplicate");
            usersDatatable.hideButton("remove");
            usersDatatable.hideButton("export");
            usersDatatable.hideButton("import");
            usersDatatable.hideButton("select-cel");

            usersDatatable.EDITOR.on('opened', function (e, type, action) {
                if (eventsBinded == false) {
                    eventsBinded = true;
                    //aktivuj kontrolu kvality hesla
                    (new WjPasswordStrength({element: "#DTE_Field_password"})).load();
                }
            });
        });

    <table class="datatableInit table"></table>