@charset "UTF-8";

$primary: #0063FB;
$primary-hover: #0054d5;
$secondary: #13151B;
$nice-gray-100: #DDDFE6;
$nice-gray-300: #868EA5;
$nice-gray: #F3F3F6;
$dark-60: #686F83;
$input-color: #23262E;

//TABLER
$ti-font-path: "@tabler/icons-webfont/dist/fonts";
$ti-font-name-filled: "tabler-icons-filled";

//special CSS file build into dist/css/vendor-inline.style.css for use in inline editor
@import "@tabler/icons-webfont/dist/tabler-icons-filled";
@import "@tabler/icons-webfont/dist/tabler-icons";

@import "5-modules/md-dt-ckeditor";